<footer class="footer">
    {% include '_nav-footer.twig' %}
    <span>© 2022 <a href="{{ _blog.url }}">{{ _blog.name }}</a></span>
</footer>
<a href="#top" aria-label="go to top" title="Go to Top (Alt + G)" class="top-link" id="top-link" accesskey="g" style="">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="currentColor">
        <path d="M12 6H0l6-6z"></path>
    </svg>
</a>