<ul id="menu">
    {% for nav in _blog.nav_header %}
    <li>
        <a class="nav-{{ nav.name | lower | slug }}" href="{{ nav.url }}">
            <span class="{% if _route %}{% if is_current_url(nav.url) %}active{% endif %}{% endif %}">{{ nav.name }}</span>
            <span class="icon-link">
                &nbsp;&nbsp;
                <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12">
                    <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                    <path d="M15 3h6v6"></path>
                    <path d="M10 14L21 3"></path>
                </svg>
            </span>
        </a>
    </li>
    {% endfor %}
</ul>