header {
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: center;

    nav {
        display: flex;
        width: 1140px;
        max-width: 100%;
        padding: 0 35px;
        margin: auto;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .brand {
        img {
            vertical-align: middle;
            height: 30px;
        }
        .name {
            font-weight: 600;
            margin-left: 2px;
        }
    }

    .nav-links {
        flex: 1;
        text-align: right;
        a {
            margin-left: 8px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 14px;
            position: relative;
            padding: 8px;
            &.active {
                border-bottom: 3px solid var(--color-accent);
            }
        }
    }

    .color-mode-toggler {
        margin-left: 15px;
        a {
            cursor: pointer;
        }
    }

}

.mode-light .color-mode-toggler a:first-child {
    display:none;
}
.mode-dark .color-mode-toggler a:last-child {
    display:none;
}