@import '_normalize.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'post.scss';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--color-background-body);
}

main {
    width: 720px;
    max-width: 100%;
    margin: 40px auto auto;

    a.article {
        display: flex;
        padding: 30px;
        background: var(--color-background-box);
        margin-bottom: 30px;
        border-radius: var(--box-radius);
        box-shadow: var(--box-shadow);
        text-decoration: none;
        color: inherit;
        transition: .3s box-shadow;

        .left {
            flex: 1;
            padding-right: 25px;
            h2 {
                margin:0;
                font-size: 22px;
            }
            p.description {
                margin-top:10px;
                color: var(--color-text-content-secondary);
            }
        }

        .right {
            img {
                width: 300px;
                border-radius: 20px;
            }
        }

        &:hover {
            box-shadow: var(--box-shadow), 0 0 20px rgba(0,0,0,0.05);
        }

    }
}