@import '_normalize.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'post.scss';
@import 'loop.scss';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--color-background-body);
    color: var(--color-text-content);
}

main {
    width: 720px;
    max-width: 100%;
    margin: 40px auto auto;
}


// shared
.page-data {
    margin-bottom: 40px;
    text-align: center;
    .page-title {
        font-weight: 600;
        font-size: 2rem;
    }
    .page-description {
        color: var(--color-text-content-secondary);
        margin: 5px 0;
        font-size: 1.2rem;
    }
}

.global-tag {
    padding: 4px 15px;
    display: inline-block;
    background-color: var(--color-tag-bg);
    color: var(--color-tag-fg);
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
}
.global-avatar-placeholder {

}