@import '_normalize.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'post.scss';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--color-background-body);
    color: var(--color-text-content);
}

main {
    width: 720px;
    max-width: 100%;
    margin: 40px auto auto;

    a.article {
        display: flex;
        padding: 30px;
        background: var(--color-background-box);
        margin-bottom: 30px;
        border-radius: var(--box-radius);
        box-shadow: var(--box-shadow);
        text-decoration: none;
        color: inherit;
        transition: .1s box-shadow;

        .left {
            flex: 1;
            h2 {
                margin:0;
                font-size: 22px;
                line-height: 24px;
            }
            p.description {
                margin-top:10px;
                margin-bottom: 10px;
                color: var(--color-text-content-secondary);
            }
            .date {
                font-size: 0.8rem;
                margin-top: 8px;
            }
            .post-authors {
                margin-top: 10px;
                font-size: 0.85rem;
                img, .avatar-placeholder {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;

                    &:not(:first-child) {
                        margin-left: -25px;
                    }
                }
                .avatar-placeholder {
                    display: inline-block;
                    background-color: var(--color-background-contrast);
                }
                span {
                    vertical-align: middle;
                }
                .author-names {
                    margin-left: 5px;
                    font-weight: 600;
                }
            }
            .post-tags {
                margin-top: 10px;
            }
        }

        .right {
            padding-left: 25px;
            img {
                width: 300px;
                border-radius: var(--box-radius);
            }
        }

        &:hover {
            box-shadow: var(--box-shadow), 0 0 20px rgba(0,0,0,0.05);
        }

    }
}


// shared
.page-data {
    margin-bottom: 40px;
    text-align: center;
    .page-title {
        font-weight: 600;
        font-size: 2rem;
    }
    .page-description {
        color: var(--color-text-content-secondary);
        margin: 5px 0;
        font-size: 1.2rem;
    }
}

.global-tag {
    padding: 4px 15px;
    display: inline-block;
    background-color: var(--color-tag-bg);
    color: var(--color-tag-fg);
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
}
.global-avatar-placeholder {

}