.footer {
    background-color: var(--background-color);
    border-top: var(--border-thickness) solid var(--border-color);
    border-bottom: var(--border-thickness) solid var(--border-color);
    margin-top: 20px;
    color: var(--color-accent);

        height: 40px;


            .nav-main {
                display: flex;
                align-items: center;
                height: 100%;

                width: 1100px;
                max-width: 100%;
                margin:auto;
                // height: 40px;



                .box {
                    border-inline-end: var(--border-thickness) solid var(--border-color);
                    height: 100%;
                    display: flex;

                    .link {
                        border-inline-start: var(--border-thickness) solid var(--border-color);
                        display: block;
                        padding: 0 18px; /* Add padding for better visual appeal */
                        height: 100%;
                        display: inline-flex;
                        align-items: center;
                        text-decoration: none;
                        color: var(--color-accent);
                         /*hover effect*/
                         &:hover {
                            background-color: var(--background-hover-color);
                        }
                    }
                }

                .social {
                    margin-inline-start: auto;
                    display: flex;
                    align-items: center;
                    height: 100%;
                }


                .social-link {
                    border-inline-start: var(--border-thickness) solid var(--border-color);
                    padding: 0 18px; /* Add padding for better visual appeal */
                    height: 100%;
                    display: inline-flex;
                    align-items: center;
                    text-decoration: none;
                    color: var(--color-accent);
            
                    //border right for last chils
                    &:last-child {
                        border-inline-end: var(--border-thickness) solid var(--border-color);
                    }
            
                     /*hover effect*/
                     &:hover {
                        background-color: var(--background-hover-color);
                    }
                }

            }
        
        }
    
//mobile styles for footer
@media (max-width: 884px) {

    .footer {
        border-bottom:none;
        .nav-main {
            display: flex;
            flex-direction: column;
            height: auto;
        }
    
        .box {
            flex-direction: column;
            height: initial;
            width: 100%;

        
            .link {
                border-bottom: var(--border-thickness) solid var(--border-color);
                padding-top: 8px !important;
                padding-bottom: 8px !important;
                justify-content: center !important;
                //last child
                &:last-child {
                    border-bottom: none;
                }

                //align link text to center horizontally
                text-align: center;

            }
        }

        .social {
            border: var(--border-thickness) solid var(--border-color);
            
            //takes full width
            width: 100%;
            overflow: auto;
            //align the parent to center
            justify-content: center !important;

            .social-link {
                padding : 8px !important;
                flex-grow: 1;

                //align i icons to center
                i {
                    display: block !important;
                    margin: auto !important;
                }
                
                //last child
                &:last-child {
                    border-inline-end: none;
                }

                //first child
                &:first-child {
                    border-inline-start: none;
                }
                  
            }

        }
    }
}
    