@import 'header.scss';

@import 'hero.scss';

@import 'base.scss';

// @import 'variables';

@import 'tag_head.scss';

@import 'loop.scss';

@import 'footer.scss';

@import 'pagination.scss';

@import 'post.scss';

@import 'tag.scss';

@import 'author.scss';

@import '404.scss';

@import 'search.scss';

.container {
    padding:1.25rem 1.25rem;
    color: var(--main-color);
    background-color: var(--background-color);
  }