/* Search */
.search-wrapper {
    font-family:inherit;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background: var(--background-color);

    .search-wrapper-close {
      position: absolute;
      right: 2rem;
      top: 2rem;
      width: 2.5rem;
      height: 2.5rem;
      background: var(--background-color);
      border: var(--border-thickness) solid var(--border-color);
      opacity: 1;
      cursor: pointer;

      &:focus,
      &:hover {
        opacity: 1;
        background-color: var(--secondary-color);

        &:before,
        &:after {
          background: var(--background-color);
        }
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 20%;
        top: 50%;
        width: 60%;
        height: 0.125rem;
        margin-top: -0.063rem;
        border-radius: 0.063rem;
        background: var(--main-color);
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }

    [dir="rtl"] .search-wrapper-close {
      left: 2rem;
      right: auto;
    }
  }

[dir="rtl"] .search-wrapper {
  left: 0;
  right: 0;
}

  .search-active {
    overflow-y: hidden;

    .search-wrapper {
      z-index: 500;
      opacity: 1;
    }
  }

  .search {
    position: relative;
    z-index: 100;
    max-width: 68.75rem;
    max-width: 1100px;
    margin: 6.25rem auto 0;
    border: var(--border-thickness) solid var(--border-color);
    border-bottom: none;
    background: var(--background-color);
    overflow: hidden;
  }

  .mode-dark {
    .search {
      border-color: var(--border-color);
    }
  }

  .search-form {
    position: relative;


    .search-input-icon {
      position: absolute;
      left: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.375rem;
      line-height: 1;
      color: var(--border-color);

      svg {
        vertical-align: baseline !important;
      }
    }

    .search-field {
      width: 100%;
      padding: 0.938rem 3.125rem 0.938rem 3rem;
      font-size: 1rem;
      font-weight: var(--base-font-weight);
      font-family:inherit;
      border: none;
      outline: 0;
      background: var(--background-color);
      color: var(--main-color);
      caret-color: var(--border-color);
      border-bottom: var(--border-thickness) solid var(--border-color);

      &::placeholder {
        font-weight: var(--base-font-weight);
        color: var(--border-color);
      }

      &::-ms-clear {
        display: none;
      }
    }

    .search-button {
      display: none;
      position: absolute;
      right: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
      border: 0;
      outline: none;
      width: 1.5rem;
      height: 1.5rem;
      background: var(--background-color);
      cursor: pointer;

      &.search-button-clear {
        display: block;
        padding: 0;

        &:hover {
          transform: translateY(-50%) rotate(90deg);
        }

        i {
          display: none;
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          left: 20%;
          top: 50%;
          width: 60%;
          height: 0.125rem;
          margin-top: -0.063rem;
          background: var(--border-color);
        }

        &:hover:before, &:hover:after {
          background: var(--main-color);
        }

        &:before {
          transform: rotate(-45deg);
        }

        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }

  .search-result {
    overflow-y: scroll;
    max-height: 58vh;
    -webkit-overflow-scrolling: touch;

    &:not(:empty) {
      border-bottom: var(--border-thickness) solid var(--border-color);
    }

    .search-result-row {
      border-bottom: var(--border-thickness) solid var(--border-color);

      &:last-child {
        border-bottom: none;
      }

      .search-result-row-link {
        display: block;
        padding: 0.625rem;
        text-decoration: none;
        outline: 0;

        &:hover {
          .search-result-row-title {
            color: var(--main-color);
          }
        }

        .search-result-row-title {
          font-size: 1.125rem;
          line-height: 1.3;
          font-weight: var(--strong-font-weight);
          color: var(--main-color);
        }

        .search-result-row-excerpt {
          display: -webkit-box;
          margin-top: 0.25rem;
          font-size: 1rem;
          line-height: 1.6;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          color: var(--main-color);
          font-weight: var(--base-font-weight);
        }
      }
    }
  }

  .popular-wrapper {
    // padding: 24px 0 24px 0;
  }

  .popular-wrapper .popular-title {
    font-size: 1rem;
    line-height: var(--base-line-height);
    font-weight: var(--strong-font-weight);
    color: var(--main-color);
  }

  .popular-tags {
    display: flex;
    //align all items to left
    justify-content: flex-start;
    background-color: var(--background-color);
    border-bottom: var(--border-thickness) solid var(--border-color);
    align-items: center;
    overflow: auto;


    a {
      height: 100%;
      padding: 0.25rem 0.5rem;
      font-size: 16px;
      font-weight: var(--strong-font-weight);
      text-decoration: none;
      color: var(--accent-color);
      background: var(--background-color);
      border-inline-start: var(--border-thickness) solid var(--border-color);

      &:first-child {
        border-inline-start: none;
      }

      //last child
      &:last-child {
        border-inline-end: var(--border-thickness) solid var(--border-color);
      }


      &:hover {
        background: var(--background-hover-color);
      }
    }
  }

  [dir="rtl"] {
    .search-input-icon {
      left: auto;
      right: 1.5rem;
    }

    .search-button {
      left: 1.5rem;
      right: auto;
    }
  }
