.tag-page {
    color: var(--color-accent);
    background-color: var(--background-color);
    
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1100px;
        max-width: 100%;
        padding-top: 20px;
        margin: auto;

        .row{
            //center align the child elements
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin: 0;
            padding: 0;
            
            .head {
                padding-top: 45px;
                padding-bottom: 30px;


                .title {
                    border : var(--border-thickness) solid var(--border-color);
                    padding: 3px 10px;
                    font-size: 30px;
                    font-weight: 700;
                    
                }
                
                .title-wrapper {
                    text-align: center;
                    padding: 15px 10px;
                }
                
                .posts-count{
                    padding: 15px 10px;
                    //align the child elements to center
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;  
                }
                
                .posts-count-span {
                    margin-inline-end: 5px;
                }
                
                .description {
                    padding: 15px 10px;
                    text-align: center;
                    font-weight: 300;
                }
            
            }
            
        
        }
        
    }

}