{% macro social_icon(name, url, icon_name) %}
    <a
            class="global-opacity-link"
            target="_blank"
            href="{{ url }}"
            title="{{ name }}">
        <i class="icon" aria-hidden="true">{{ icon('fontawesome', icon_name, 20) }}</i>
    </a>
{% endmacro %}