{% extends '@base.twig' %}


{% block body %}

	<main role="main">
		<section class="page-data">
			<h1 class="page-title">{{ _blog.name }}</h1>
			<div class="page-description">{{ _blog.description }}</div>
		</section>
		{%  include '_loop.twig' %}
	</main>

{% endblock %}
