{% extends '@base.twig' %}

{% block body %}

	<div id="index" class="container">
		<main class="content" role="main">
			<div class="not-found">
				<div class="container">
					<div class="title">404</div>
					<p class="phrase">{{ 'error_phrase' | lang }}</p>
					<a class="solution" href="{{ _blog.url }}">{{ 'back_home' | lang }}</a>
				</div>
			</div>
		</main>
	</div>

{% endblock %}
