<footer class="footer">

	{% if (_config.settings.footer.feed_icon) %}
		{% include '_social.twig' with {'social': _blog.social} %}
	{% endif %}

	{% include '_nav.twig' with {'navs': _blog.nav_footer} %}

	<span class="footer_item">&copy;
		{{ 'now' | date('Y') }}
	</span>
</footer>
