{% extends '@base.twig' %}

{% block body %}
	<header class="header">
		<h1 class="header-title center" itemprop="headline">{{ 'archive' | lang }}.</h1>
	</header>

	<div id="index" class="container">
		<main class="content page-content" role="main">
			{% include '_search.twig'%}

			{% include '_loop.twig' with {'_posts': _posts} %}
		</main>
	</div>

{% endblock %}
