{% extends '@base.twig' %}

{% block body %}

    <main role="main">
        <section class="page-data">
            <div class="page-title">{{ _blog.name }}</div>
            <div class="page-description">{{ _blog.description }}</div>
        </section>
        {%  include '_loop.twig' %}
    </main>

{% endblock %}