<footer class="gh-foot gh-outer">
    <div class="gh-foot-inner gh-inner">

        {% include '_nav-footer.twig' %}

        <div class="gh-copyright">© {{ _config.footer.copy_year }} <a href="{{ _blog.url }}" target="_blank" rel="noopener">{{ _blog.name }}</a></div>
    </div>
</footer>