{% extends '@base.twig' %}

{% block body %}

	<main class="hy-main hy-outer">
		<div class="hy-inner">
			<section class="hy-pagehead">
				<h1 class="hy-pagehead-title">{{ _tag.name }}</h1>
			</section>
			<div class="hy-topic hy-topic-grid">
				<div class="hy-topic-content hy-feed">
                    {%  include '_loop.twig' %}
				</div>
			</div>
		</div>
	</main>

{% endblock %}
