/* eb-garamond-regular - cyrillic_greek_latin_vietnamese */
@font-face {
  font-display: swap;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/eb-garamond-400.woff2') format('woff2');
}
/* eb-garamond-500 - cyrillic_greek_latin_vietnamese */
@font-face {
  font-display: swap;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/eb-garamond-500.woff2') format('woff2');
}

/* eb-garamond-700 - cyrillic_greek_latin_vietnamese */
@font-face {
  font-display: swap;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/eb-garamond-700.woff2') format('woff2');
}

/* eb-garamond-800 - cyrillic_greek_latin_vietnamese */
@font-face {
  font-display: swap;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/eb-garamond-800.woff2') format('woff2');
}