/* Post */
.post-head {
  max-width: 780px;
  margin: 0 auto 32px;

  .image-box {
    position: relative;
    min-height: 280px;
    padding-top: 75%;
    margin-top: 32px;
    border-radius: 22px;
    overflow: hidden;
    background: var(--background-alt-color);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .post-tags {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -4px;
    margin-bottom: 4px;

    .post-tag {
      display: inline-block;
      padding: 6px 16px;
      margin: 4px 4px 4px 0;
      font-size: 12px;
      line-height: 1.6;
      font-weight: 500;
      border-radius: 30px;
      background: var(--background-alt-color);
      transition: $global-transition;

      &:hover {
        background: var(--link-color-hover);
      }
    }
  }

  .post-title {
    font-size: 58px;
    margin-bottom: 0;
  }

  .post-description {
    margin: 16px 0 0;
    font-size: 23px;
  }

  .post-authors {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 28px;
    line-height: 1;

    .authors {
      display: flex;
      align-items: center;
      margin-inline-end: 8px;

      .post-author {
        display: inline-block;
        transform: translate(0);
        width: 48px;
        height: 48px;
        border: 2px solid var(--background-color);
        border-radius: 50%;
        overflow: hidden;
        background: var(--background-alt-color);
        transition: transform .25s ease;

        &:not(:first-child) {
          margin-inline-start: -20px;
        }

        &:nth-child(1) {
          z-index: 5;
        }

        &:nth-child(2) {
          z-index: 4;
        }

        &:nth-child(3) {
          z-index: 3;
        }

        &:nth-child(4) {
          z-index: 2;
        }

        &:nth-child(5) {
          z-index: 1;
        }

        &:hover {
          transform: translateY(-2px);
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          user-select: none;
        }
      }
    }

    .post-author-meta {
      display: flex;
      flex-direction: column;

      .post-author-names {
        .post-author-link {
          display: inline-block;
          margin-bottom: 2px;
          font-size: 12px;
          font-weight: 500;
          line-height: 1.6;
          text-decoration: underline;
          text-decoration-thickness: 1px;
          text-underline-offset: 2px;
          text-decoration-color: transparent;

          &:hover {
            text-decoration-color: var(--link-color);
          }
        }

        span {
          display: inline-block;
          font-size: 12px;
          font-weight: 500;
          line-height: 1.6;
          color: var(--text-alt-color);
        }
      }

      .post-date {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.6;
      }
    }
  }

  @media (max-width: $desktop) {
    .post-title {
      font-size: 48px;
    }

    .post-authors {
      margin-top: 16px;
    }
  }

  @media (max-width: $tablet) {
    margin: 0 auto 24px;

    .post-description {
      font-size: inherit;
    }

    .image-box {
      margin-top: 24px;
    }
  }

  @media (max-width: $mobile) {
    .post-title {
      font-size: 40px;
    }
  }
}

.translated-wrapper {
  font-family: var(--heading-font-family);

  p {
    padding: 16px;
    font-weight: 500;
    font-size: inherit;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background: var(--background-alt-color);

    a {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
    }
  }
}

.post {
  max-width: 780px;
  margin: 0 auto;
}

.mode-dark {
  .post {
    color: var(--text-alt-color);
  }
}

.post-content {

  h1, h2, h3, h4, h5, h6 {
    a[href^="#"] {
      /* Remove usual link styles */
      color: inherit;
      text-decoration: none;
      position: relative;

      /* Add different styles */
      &:hover:before {
          content: "#";
          position: absolute;
          right: 100%;
          margin-right: 5px;
          color: var(--text-alt-colo);
      }
    }
  }

  a:not([class]) {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  }

  hr {
    display: block;
    height: 1px;
    margin: 40px 0;
    padding: 0;
    background: var(--border-color);
    border: 0;
  }

  blockquote {
    padding: 0 0 0 24px;
    font-family: var(--heading-font-family);
    font-size: 26px;
    font-weight: 700;
    border-left: 4px solid var(--color-accent);
    color: var(--heading-font-color);

    >:first-child {
      margin-bottom: 12px;
    }

    >:last-child {
      font-family: var(--base-font-family);
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  figure img {
    border-radius: 22px;
  }

  figcaption {
    position: relative;
    margin: 20px auto 0;
    font-size: 12px;
    line-height: 1.3;
    color: var(--text-alt-color);

    a {
      font-weight: 500;
      text-decoration-color: transparent !important;
      color: var(--link-color);

      &:hover {
        text-decoration-color: var(--link-color) !important;
      }
    }
  }

  aside {
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 8px;

    span {
      margin-inline-end: 8px;
      font-size: 24px;
    }
  }

  pre {
    padding: 16px 0;
    border-radius: 22px;
    font-size: 14px;

    .line {
      padding: 1px 14px;
    }

    .line-number {
      margin-inline-end: 14px;
    }

    code {
      display: block;
      width: max-content;
      min-width: 100%;
    }
  }

  :not(pre) code {
    padding: 3px 5px;
    font-family: monospace;
    font-size: 13px;
    border-radius: 3px;
    color: var(--code-color);
    background: var(--code-background-color);
  }

  mark {
    background: #fff5c5;
  }

  a.bookmark {
    display: flex;
    margin: 24px 0;
    border-radius: 22px;
    border: 1px solid var(--border-color);
    background: var(--background-alt-color);
    text-decoration: none;
    overflow: hidden;

    .bookmark-details {
      padding: 20px;
      flex: 2;

      .bookmark-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.3;
      }

      .bookmark-description {
        font-size: 14px;
        line-height: 1.4;
        margin: 16px 0 0;
      }

      .bookmark-domain {
        margin-top: 24px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
      }
    }

    .bookmark-thumbnail {
      flex:1;
      max-width: 185px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 0 22px 22px 0;
        object-fit: cover;
      }
    }

    @media (max-width: $mobile) {
      flex-direction: column-reverse;

      .bookmark-thumbnail {
        max-width: 100%;
      }
    }
  }

  .table-container {
    overflow-x: auto;
    margin: 24px 0;

    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      border: 1px solid var(--border-color);

      th, td {
        padding: 12px 16px;
        border: 1px solid var(--border-color);
      }

      th {
        font-weight: 700;
        text-align: left;
      }

      p {
        margin-top: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

}

/* Shared declarations for certain elements. */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure, aside,
pre {
  margin-bottom: 24px;
}

/* Consistent indentation for lists. */
ul, ol,
dd {
  padding: 0;
  margin-inline-start: 16px;
}

ul, ol {
  li {
    margin-bottom: 4px;

    p {
      margin: 0 0 4px;
    }
  }
}