/* Tag */
.tag-head {
  max-width: 700px;
  margin: 0 auto 80px;
  text-align: center;

  .tag-title {
    margin-bottom: 0;
    font-size: 48px;
    text-transform: capitalize;
  }

  .tag-description {
    margin-top: 32px;
    font-size: 23px;
  }

  @media (max-width: $tablet) {
    margin: 0 auto 60px;

    .tag-description {
      font-size: inherit;
    }
  }

  @media (max-width: $mobile) {
    margin: 0 auto 32px;

    .tag-title {
      font-size: 40px;
    }

    .tag-description {
      margin-top: 24px;
    }
  }
}