

<div class="post-card">

    <div class="post-card-content">

        <div class="post-card-image-wrap">
            <a class="post-card-image" href="{{ post.url }}">
                <img loading="lazy" src="https://picsum.photos/400/300" />
            </a>
            <div class="tags">
                <a class="tag">#self-improvement</a><a class="tag">#producvity</a><a class="tag">#life</a>
            </div>
        </div>
        
        <div class="post-card-data">
            <div class="post-date">{{ post.published_at | date('F j, Y') }}</div>
            <h3>{{ post.title }}</h3>


            <div class="authors">
                <span class="author">
                    <img src="https://miro.medium.com/fit/c/56/56/2*VV7wGRdh2IqqSqiMsJTp9g.jpeg">
                    <span>Benajmin Hardy</span> 
                </span>
                {# <span class="author">
                    <img src="https://miro.medium.com/fit/c/64/64/2*NSj5wwZhoYWubyUqpkueHw.jpeg">
                    <span>Supun Kavinda</span> 
                </span> #}
            </div>
            <p>{{ post.description }}</p>

        </div>


    </div>

</div>