<!DOCTYPE html>
<html>
<head>

<title>8 Things Every Person Should Do Before 8 A.M.</title>
<link rel="stylesheet" href="/styles.css"></link>

{{ _head | raw }}
</head>
<body>

{% include('_header.twig') %}

<section class="post-meta">

    <div class="publish-date">January 13, 2021</div>

    <h1>{{ _post.title }}</h1>

    <div class="authors">
        <span class="author">
            <img src="https://miro.medium.com/fit/c/56/56/2*VV7wGRdh2IqqSqiMsJTp9g.jpeg">
            <span>Benajmin Hardy</span> 
        </span>
        {# <span class="author">
            <img src="https://miro.medium.com/fit/c/64/64/2*NSj5wwZhoYWubyUqpkueHw.jpeg">
            <span>Supun Kavinda</span> 
        </span> #}
    </div>


    <img class="featured-image" src="/themes/default/cover-1.jpeg" />

</section>

<main>

    <article>
        {{ _post.content | raw }}
    </article>

    <div class="tags">
        <a class="tag">#self-improvement</a>
        <a class="tag">#producvity</a>
        <a class="tag">#life</a>
    </div>
       

    <div id="comments">
        <div id="hyvor-talk-view"></div>
        <script type="text/javascript">
            var HYVOR_TALK_WEBSITE = 5910;
            var HYVOR_TALK_CONFIG = {
                url: false,
                id: false,
            };
        </script>
        <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed.js"></script>
    </div>

</main>

{% include('_footer.twig') %}

{{ _foot | raw }}


</body>


</html>
