{% macro social_icon(name, url, icon_name, type='ionicons') %}
	<a class="social-link" target="_blank" href="{{ url }}" title="{{ name }}">
		<i class="icon" aria-hidden="true">{{ icon(type, icon_name, 21) }}</i>
	</a>
{% endmacro %}
