// ================================================== ==================================================
// ==================================================  Article ==================================================
// ================================================== ==================================================

.hy-article-tags {
    display: flex;
    gap: 1rem;

    .hy-article-tag {
        color: var(--color-accent);
    }
}

.hy-article-image {
    grid-column: wide-start/wide-end;
    margin-top: 4rem;

    img {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .hy-article-image {
        margin-top: 2.4rem;
    }
}