// ================================================== ==================================================
// ==================================================  Card ==================================================
// ================================================== ==================================================

/* Bookmark
/* ---------------------------------------------------------- */

.hy-content .bookmark a {
    color: var(--color-primary-text-light);
}

.hy-content .bookmark {
    display: flex;
    text-decoration: none;
    border: 1px solid rgb(124 139 154/25%);
    overflow: hidden;
    color: var(--color-primary-text-light);
    border-radius: 0.25em!important;
    word-break: break-word;
    margin-top: calc(2em*var(--content-spacing-multiplier, 1));
    position: relative;
    width: 100%;
}

.hy-content .bookmark .bookmark-details {
    border-radius: 0.25em !important;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.15em;
}

.hy-content .bookmark .bookmark-content {
    padding: 1.15em;
}

.hy-content .bookmark .bookmark-title {
    color: var(--color-primary-text-light);
    font-size: 0.9em;
    text-decoration: none;
}

.hy-content .bookmark .bookmark-description {
    color: var(--color-primary-text-light);
    display: -webkit-box;
    line-height: 1.5em;
    font-weight: 400;
    overflow-y: hidden;
    opacity: .7;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: .8em;
    margin-top: 0.3em;
    max-height: none;
    text-decoration: none;
}

.hy-content .bookmark .bookmark-domain {
    align-items: center;
    color: var(--color-primary-text-light);
    margin-top: 22px;
    width: 100%;
    font-weight: 500;
    white-space: nowrap;
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: .7;
    display: inline;
    text-decoration: none;
}

.hy-content .bookmark .bookmark-thumbnail {
    position: relative;
    flex-grow: 1;
    min-width: 33%;
}

.hy-content .bookmark .bookmark-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0.2em 0.2em 0;
}