// ================================================== ==================================================
// ==================================================  Footer ==================================================
// ================================================== ==================================================

.hy-foot {
    color: var(--color-secondary-text-light);
    white-space: nowrap;
    padding-top: 80px;
    padding-bottom: 120px;
    margin-top: 120px;
    background-color: var(--color-darker-gray);
}

.hy-foot,
.hy-foot a,
.hy-foot a:hover {
    color: var(--color-white);
}

.hy-foot-inner {
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
}

.hy-foot-menu {
    width: 100%;
    padding-bottom: 32px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.hy-foot-menu .nav {
    display: inline-flex;
    flex-wrap: wrap;
    row-gap: 4px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 32px;
    font-weight: 500;
}

.hy-foot-menu .nav li {
    display: flex;
    align-items: center;
}

.hy-foot-menu .nav li + li::before {
    display: none;
}

.hy-powered-by {
    text-align: right;
}

.hy-foot a {
    color: var(--color-secondary-text-light);
}

.hy-foot a:hover {
    color: var(--color-darker-gray);
    opacity: 1;
}

.hy-copyright {
    color: var(--color-secondary-text-light);
    letter-spacing: -0.006em;
}


@media (max-width: 767px) {
    .hy-foot {
        padding-top: 6.4rem;
        padding-bottom: 12rem;
    }

    .hy-foot-inner {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hy-foot-menu {
        margin-top: 3.2rem;
    }

    .hy-foot-menu .nav {
        flex-direction: column;
    }

    .hy-foot-menu .nav li + li {
        margin-top: 0.4rem;
    }

    .hy-foot-menu .nav li + li::before {
        display: none;
    }

    .hy-powered-by {
        margin-top: 3.2rem;
        text-align: center;
    }
}

.hy-social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}