// ================================================== ==================================================
// ==================================================  Media Queries ==================================================
// ================================================== ==================================================

@media (max-width: 767px) {
    .hy-main {
        padding-top: 6.4rem;
        padding-bottom: 6.4rem;
    }

    .hy-cover-content {
        margin-top: 40px;
    }

    .post-template .hy-cover-content {
        bottom: 32px;
        margin-bottom: 32px;
    }

    .hy-cover-title {
        font-size: 3.2rem;
    }

    .hy-cover-description {
        font-size: 1.7rem;
    }

    .hy-topic-grid .hy-topic-content {
        row-gap: 32px !important;
    }

    .hy-topic-grid .hy-card:not(:only-child).large {
        padding-bottom: 36px;
        margin-bottom: 4px;
    }

    .hy-topic-grid .hy-card-link {
        gap: 16px;
    }

    .hy-topic-grid .hy-card.large .hy-card-link {
        gap: 32px;
    }

    .hy-topic-grid .hy-card.featured.large a.hy-card-link {
        min-height: 400px;
        padding: 32px 24px;
    }

    .hy-topic-grid .hy-card-image {
        width: 100px;
    }

    .hy-topic-grid .hy-card-title {
        font-size: 1.6rem;
    }

    .hy-topic-grid .hy-card.featured.large .hy-card-title {
        font-size: 3.2rem;
    }

    .hy-topic-grid .hy-card:not(.large) .hy-card-excerpt {
        display: none;
    }

    .hy-card:not(.large) .hy-card-footer {
        margin-top: 8px;
    }

    .hy-topic-grid .hy-card:not(.large) :where(.hy-card-author, .hy-card-footer-sep) {
        display: none;
    }

    .hy-topic-minimal .hy-card + .hy-card {
        margin-top: 12px;
    }

    .hy-topic-minimal .hy-card-title {
        font-size: 1.5rem;
    }

    .hy-read-next {
        margin-top: 64px;
    }

    .hy-foot {
        padding-top: 64px;
        padding-bottom: 160px;
        margin-top: 64px;
    }

    .hy-subscribe {
        margin-bottom: 32px;
    }

    .hy-subscribe-title {
        font-size: 3.2rem;
    }

    .hy-subscribe-description {
        font-size: 1.7rem;
    }

    .hy-foot-menu {
        padding: 24px 0;
    }

    .hy-foot-menu .nav {
        gap: 12px;
    }

    .hy-copyright {
        margin-top: 32px;
    }
}

@media (min-width: 768px) {
    main:not(.home-template) .hy-topic-grid .hy-card:not(.large) .hy-card-image {
        width: 160px;
    }
}

@media (max-width: 991px) {
    .hy-topic-grid .hy-topic-content {
        grid-template-columns: 1fr;
    }

    .hy-topic-grid .hy-card.large {
        grid-column: auto;
    }

    .hy-topic-grid .hy-card:not(.featured).large .hy-card-link {
        flex-direction: column;
    }

    .hy-topic-grid .hy-card.featured.large .hy-card-link {
        min-height: 480px;
    }

    .hy-topic-grid .hy-card.large .hy-card-link > * {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .hy-head {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .has-full-image .hy-article-excerpt {
        margin-top: 36px;
        font-size: 2.4rem;
    }
}

@media (max-width: 1199px) {
    .hy-article-sidebar {
        position: static;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column: main-start / main-end;
        column-gap: 12px;
        align-items: center;
        padding-inline-end: 0;
        margin-top: 24px;
    }

    .hy-article-sidebar .hy-author-image-list {
        grid-row: 1 / 3;
    }

    .hy-article-sidebar .hy-author-image {
        width: 48px;
        height: 48px;
        margin-bottom: 0;
    }

    .hy-author-image-list .hy-author-image + .hy-author-image {
        margin-inline-start: -16px;
    }

    .hy-author-name-list {
        font-weight: 600;
    }

    .hy-author-name {
        font-size: 1.7rem;
        font-weight: 600;
    }

    .hy-article-meta {
        line-height: 1;
    }
}