// ================================================== ==================================================
// ==================================================  Navigation ==================================================
// ================================================== ==================================================

.hy-navigation {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 2.4rem;
    align-items: center;
}

.hy-navigation > div {
    display: flex;
    align-items: center;
}

.hy-navigation-next {
    justify-content: flex-end;
}

.hy-navigation-link {
    display: inline-flex;
    align-items: center;
}

.hy-navigation-link svg {
    width: 16px;
    height: 16px;
}

.hy-navigation-previous svg {
    margin-inline-end: 0.4rem;
}

.hy-navigation-next svg {
    margin-inline-start: 0.4rem;
}

@media (max-width: 767px) {
    .hy-navigation-hide {
        display: none;
    }
}