// ================================================== ==================================================
// ==================================================  Screen ==================================================
// ================================================== ==================================================

figcaption {
    font-size: 1.3rem;
}

.has-full-image figcaption {
    padding: 0 16px;
}

.hy-btn {
    font-weight: 500;
}

main:not(.is-head-stacked) .hy-head {
    height: 88px;
}

main:not(.is-head-stacked) .hy-head-inner {
    border-bottom: 1px solid var(--color-light-gray);
}

.nav {
    letter-spacing: -0.006em;
}

main:not(.is-head-transparent) .hy-head-logo img + img {
    display: none;
}

body.is-head-transparent .hy-head-logo img + img {
    opacity: 1;
}

.is-head-transparent .hy-head-logo img:first-of-type:not(:only-child) {
    display: block;
    opacity: 0;
}

/* Styles specific to grid style sections */

.hy-topic-grid + .hy-topic-grid {
    margin-top: 80px;
}

.hy-topic-grid .hy-topic-name {
    margin-bottom: 40px;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: -0.01em;
}

.hy-topic-grid .hy-topic-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 40px;
}

main:not(.home-template) .hy-topic-grid .hy-topic-content {
    row-gap: 48px;
    justify-items: center;
}

.hy-topic-footer {
    padding-top: 20px;
    margin-top: 48px;
    text-align: right;
    border-top: 1px solid var(--color-light-gray);
}

.hy-topic-grid .hy-card.large,
main:not(.home-template) .hy-topic-grid .hy-card {
    grid-column: 1 / 3;
}

.hy-topic-grid .hy-card.large {
    width: 100%;
}

.hy-topic-grid .hy-card:not(.large) {
    width: 100%;
    max-width: 720px;
}

.hy-topic-grid .hy-card:not(:only-child).large {
    padding-bottom: 48px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--color-light-gray);
    z-index: 1;
}

.hy-topic-grid .hy-card-link {
    display: flex;
    gap: 24px;
}

.hy-topic-grid .hy-card-link:hover {
    opacity: 1 !important;
}

.hy-topic-grid .hy-card-link:hover .hy-card-title {
    opacity: 0.8;
}

.hy-topic-grid .hy-card.large .hy-card-link {
    gap: 40px;
}

.hy-topic-grid .hy-card.featured.large .hy-card-link {
    position: relative;
    align-items: flex-end;
    min-height: 600px;
    padding: 48px 40px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent 60%);
}

.hy-topic-grid .hy-card.featured.no-image.large .hy-card-link {
    min-height: 400px;
    background: var(--color-accent);
}

.hy-topic-grid .hy-card.featured figure.hy-card-image {
    position: relative;
}

.hy-topic-grid .hy-card .featured-text {
    background: #eeeeee;
    color: var(--color-accent);
    font-size: small;
    opacity: .8;
    padding: 4px 6px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}

.hy-topic-grid .hy-card .featured-icon {
    color: var(--color-accent);
    position: absolute;
    right: 4px;
    top: 0;
    z-index: 999;
}

.hy-topic-grid .hy-card.large .hy-card-link > * {
    flex: 1;
}

.hy-topic-grid .hy-card-image {
    position: relative;
    flex-shrink: 0;
    width: 128px;
    height: 100%;
}

.hy-topic-grid .hy-card-image::before {
    display: block;
    padding-bottom: 70%;
    content: "";
}

.hy-topic-grid .hy-card.large .hy-card-image::before {
    padding-bottom: 60%;
}

.hy-topic-grid .hy-card.featured.large .hy-card-image {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
}

.hy-topic-grid .hy-card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hy-topic-grid .hy-card-wrapper {
    margin-top: -3px;
}

.hy-topic-grid .hy-card.featured.large .hy-card-wrapper {
    max-width: 560px;
}

.hy-topic-grid .hy-card-title {
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: -0.015em;
}

.hy-topic-grid .hy-card.large .hy-card-title {
    font-size: 2.8rem;
    letter-spacing: -0.02em;
}

.hy-topic-grid .hy-card.no-image.large .hy-card-title {
    font-size: 4.2rem;
    line-height: 1.2;
}

.hy-topic-grid .hy-card.featured.large .hy-card-title {
    font-size: 4.2rem;
    line-height: 1.2;
    color: var(--color-white);
}

.hy-topic-grid .hy-card.featured.large .hy-card-link:hover .hy-card-title {
    opacity: 0.9;
}

.hy-topic-grid .hy-card-excerpt {
    margin-top: 12px;
    font-size: 1.7rem;
}

.hy-topic-grid .hy-card.no-image.large .hy-card-excerpt {
    max-width: 720px;
}

.hy-topic-grid .hy-card:not(.large) .hy-card-excerpt {
    display: -webkit-box;
    margin-top: 4px;
    overflow-y: hidden;
    font-size: 1.6rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.hy-topic-grid .hy-card.featured.large .hy-card-excerpt {
    display: none;
}

.hy-card-footer {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 16px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-secondary-text-light);
    text-transform: uppercase;
}

.hy-card:not(.large) .hy-card-footer {
    margin-top: 12px;
}

.hy-topic-grid .hy-card.featured.large .hy-card-footer {
    margin-top: 20px;
    color: var(--color-white);
}

.hy-card-footer > * + * {
    display: flex;
    gap: 6px;
    align-items: center;
}

.hy-card-footer > * + *:not(script)::before {
    display: block;
    width: 2px;
    height: 2px;
    content: "";
    background-color: currentColor;
    border-radius: 50%;
}

/* Styles specific to list style sections */

.hy-topic-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 80px 48px;
    margin-top: 120px;
}

.hy-topic-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--color-light-gray);
}

.hy-topic-header .hy-topic-name {
    font-size: 2rem;
    letter-spacing: -0.015em;
    text-transform: capitalize;
}

.hy-topic-header .hy-topic-link {
    color: var(--color-secondary-text-light);
}

.hy-topic-minimal .hy-card {
    max-width: 720px;
}

.hy-topic-minimal .hy-card-link {
    display: block;
}

.hy-topic-minimal .hy-card-title {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.01em;
}

.hy-topic-minimal .hy-card + .hy-card {
    margin-top: 16px;
}

/* Global elements used for both grid and list style sections */

.hy-topic-link {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    letter-spacing: -0.011em;
}

.hy-topic-link svg {
    width: 16px;
    height: 16px;
    margin-inline-start: 4px;
}

/* Article */

.hy-article-header {
    position: relative;
    justify-items: start;
}

.hy-article-tag {
    margin-bottom: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.hy-article-excerpt {
    font-size: 1.9rem;
}

.has-full-image .hy-article-excerpt {
    margin-bottom: -8px;
}

.hy-article-image {
    grid-column: main-start / main-end;
    width: 100%;
}

.has-wide-image .hy-article-image {
    grid-column: wide-start / wide-end;
}

.hy-article-sidebar {
    position: absolute;
    left: 0;
    grid-column: wide-start/main-start;
    padding-inline-end: 32px;
}

.has-wide-image .hy-article-sidebar {
    top: calc(100% + 40px);
}

.hy-author-image-list {
    display: flex;
    margin-inline-start: -2px;
}

.hy-author-image {
    position: relative;
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 50%;
}

.hy-author-image-list .hy-author-image {
    margin-bottom: 16px;
    border: 2px solid var(--color-white);
}

.hy-author-image-list .hy-author-image:only-child {
    width: 68px;
    height: 68px;
}

.hy-author-image-list .hy-author-image:hover {
    opacity: 1;
}

.hy-author-image-list .hy-author-image + .hy-author-image {
    margin-inline-start: -20px;
}

.hy-author-image-list .hy-author-image:nth-child(1) {
    z-index: 30;
}

.hy-author-image-list .hy-author-image:nth-child(2) {
    z-index: 20;
}

.hy-author-image-list .hy-author-image:nth-child(3) {
    z-index: 10;
}

.hy-author-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hy-author-icon {
    background-color: var(--color-light-gray);
}

.hy-author-name-list {
    font-weight: 800;
    line-height: 1.35;
}

.hy-author-name {
    font-size: 1.8rem;
    line-height: 1.35;
    letter-spacing: -0.01em;
    text-transform: capitalize;
}

.hy-article-meta {
    margin-top: 3px;
    font-size: 1.3rem;
    color: var(--color-secondary-text-light);
    letter-spacing: -0.003em;
}

.hy-article-meta-inner {
    display: flex;
    align-items: center;
}

.hy-article-meta-sep {
    width: 2px;
    height: 2px;
    margin: 0 6px;
    background-color: currentColor;
    border-radius: 50%;
}

.hy-article-lang {
    margin-top: 20px;
}

.hy-article-lang ul {
    margin: 0;
    padding-left: 20px;
}

.hy-article-lang li {
    color: var(--color-secondary-text-light);
    font-size: 1.3rem;
    letter-spacing: -0.003em;
}

.hy-article-lang a {
    color: var(--color-secondary-text-light);
}

.hy-read-next {
    margin-top: 80px;
}

.hy-read-next .hy-pagehead {
    max-width: none;
    margin-bottom: 48px;
}

.hy-read-next .hy-pagehead-title {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

.hy-read-next .hy-pagehead-title::after {
    flex-grow: 1;
    height: 1px;
    margin-inline-start: 1.6rem;
    content: "";
    background-color: var(--color-light-gray);
}

/* Full screen cover */

.hy-cover {
    --cover-height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -16px;
    background-color: rgba(0, 0, 0, 0.4);
}

.post-template .hy-cover {
    --cover-height: 100vh;

    align-items: flex-end;
    padding-top: 120px;
    padding-bottom: 0;
    margin-bottom: -56px;
    background-color: transparent;
}

.post-template .hy-cover::before {
    position: absolute;
    inset: 0;
    content: "";
    background-color: var(--color-black);
    opacity: 0.3;
    transition: opacity 1.5s ease;
}

.post-template .hy-cover.loading::before {
    opacity: 1;
}

.post-template .hy-cover-image {
    transition: transform 1.5s ease;
    transform: scale(1);
}

.post-template .hy-cover.loading .hy-cover-image {
    transform: scale(1.02);
}

.hy-cover-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 720px;
    margin-top: 100px;
    text-align: center;
}

.post-template .hy-cover-content {
    position: sticky;
    bottom: 80px;
    align-items: flex-start;
    max-width: 1200px;
    margin-bottom: 64px;
    text-align: left;
}

.hy-cover-content .hy-article-tag {
    color: var(--color-white);
}

.hy-cover-title {
    font-size: 7.2rem;
    color: var(--color-white);
    text-transform: uppercase;
}

.tag-template .hy-cover-title {
    font-family: var(--font-body);
    letter-spacing: -0.01em;
}

.post-template .hy-cover-title {
    text-transform: none;
}

.hy-cover-description {
    margin-top: 20px;
    font-size: 1.9rem;
    color: var(--color-white);
}

.has-serif-body .hy-cover-description {
    font-family: var(--font-content);
}

/* Page head */

.hy-pagehead {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    margin-bottom: 40px;
}

.hy-pagehead-title {
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: -0.01em;
}

.hy-pagehead-description {
    margin-top: 12px;
    font-size: 1.7rem;
    color: var(--color-secondary-text-light);
}

.has-serif-body .hy-pagehead-description {
    font-family: var(--font-content);
}