.page-404 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80rem;
    max-width: 100%;
    padding-top: 1.25rem;
    margin:auto;
    height: calc(100vh - 6.25rem);


    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;

        .error {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;

            .title {
                margin: 0.938rem 0.625rem;
                text-align: center;
                font-weight: var(--strong-font-weight);
                font-size: 5rem;
                line-height: 1.5rem;
            }

            .text {
                margin: 0.938rem 0.625rem;
                text-align: center;
            }

            .button {
                padding: 0.313rem 0.563rem;
                margin: 0.938rem 0.625rem;
                text-align: center;
                font-weight: var(--strong-font-weight);
                color: var(--main-color);
                text-decoration: none;
                transition: all 0.4s ease-in-out;
                border: 0.063rem solid var(--main-color);
                border-radius: 1.875rem;
                

                &:hover {
                    transform: scale(1.09);
                }
                
            }
        }
    }
}