.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    
}

.pagination__list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.pagination__prev,
.pagination__next {
    background-color: var(--tag-color);
    color: var(--main-color);
    padding: 10px 20px;
    width: 130px; 
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        background-color: #30b87f;
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0);
    }

    &.disabled {
        background-color: #00000000;
        cursor: not-allowed;
        // pointer-events: none;
        transform: none;
        color: rgb(167, 167, 167);
    

    }


}

.pagination__count {
    font-size: 14px;
    font-weight: 400;
    color: var(--main-color);
    font-style: italic;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    .pagination__list {
        flex-direction: column;
        gap: 0.5rem;
    }

    .pagination__prev,
    .pagination__next {
        width: 100%; /* Full width on smaller screens */
        padding: 8px 15px;
        font-size: 13px;
    }

    .pagination__count {
        font-size: 13px;
    }
}
