.pagination {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    
}

.pagination-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.pagination-prev,
.pagination-next {
   border: 1px solid var(--main-color);
    color: var(--main-color);
    padding: 10px 20px;
    width: 130px; 
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;

    &:hover {
       transform: scale(1.09);
    }

    &:active {
        transform: translateY(0);
    }

    &.disabled {
        // background-color: #00000000;
        cursor: not-allowed;
        // pointer-events: none;
        transform: none;
        // color: rgb(167, 167, 167);
        opacity: 0.4;
    

    }


}

.pagination-count {
    font-size: 14px;
    font-weight: 400;
    color: var(--main-color);
    // font-style: italic;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    .pagination__list {
        flex-direction: column;
        gap: 0.5rem;
    }

    .pagination-prev,
    .pagination-next {
        width: 100%; /* Full width on smaller screens */
        padding: 8px 15px;
        font-size: 13px;
    }

    .pagination-count {
        font-size: 13px;
    }
}
