footer {
    padding: 1.5rem 0;

    .rss-wrap {
        float: right;
    }

    .social-links a:not(:last-child) {
        margin-inline-end: 10px;
        position: relative;
        &:after {
            content: "•";
            position: absolute;
            right: -10px;
            pointer-events: none;
            color: var(--color-text);
        }
    }
}

[dir="rtl"] {
    footer .rss-wrap {
        float: left;
    }
    .social-links a:not(:last-child) {
        &:after {
            right: auto;
            left: -10px;
        }
    }
}