/* Header */
.header {
  .header__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 48px $base-spacing-unit;

    @media (max-width: $desktop) {
      padding: 40px $base-spacing-unit;
    }

    @media (max-width: $tablet) {
      padding: 32px $base-spacing-unit;
    }
  }
}

/* Logo */
.logo__link {
  font-size: 32px;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -1.2px;
}

.logo__image {
  max-height: 50px;
}

/* Nav */
.main-nav {
  display: flex;
  flex: 1 0;
  align-items: center;

  @media (max-width: $desktop) {
    position: absolute;
    top: 90px;
    right: $base-spacing-unit;
    z-index: -1;
    display: block;
    min-width: 180px;
    padding: 24px;
    border-radius: 12px;
    transform: translate3d(0, 10px, 0);
    opacity: 0;
    visibility: hidden;
    background: var(--background-color);
    box-shadow: 0 8px 40px -8px rgba(0, 0, 0, .22);
    transition: transform .25s;

    &.is-visible {
      z-index: 100;
      opacity: 1;
      visibility: visible;
      transform: translate3d(0,0,0);
    }

    .nav__list {
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--border-color);

      .nav__item {
        display: block;
        width: 100%;
        margin: 0;

        &:last-child {
          .nav__link {
            padding: 0;
          }
        }

        .nav__link {
          display: block;
          padding: 0 0 10px 0;
          font-size: 16px;
          text-align: right;
          transition: color .25s;

          &.active-link {
            text-decoration: none;
          }
        }
      }
    }
  }

  @media (max-width: $mobile) {
    top: 80px;
  }
}

.main-nav__box {
  display: flex;
  align-items: center;
  margin-left: 80px;

  @media (max-width: $desktop) {
    display: block;
    margin-left: 0;
  }
}

.nav__list {
  display: flex;
  align-items: center;

  .nav__item {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }

    .nav__link {
      position: relative;
      padding: 12px 0;
      font-size: 16px;
      line-height: 1;
      font-weight: 500;
      color: var(--text-alt-color);
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
      text-decoration-color: transparent;
      will-change: transform;
      transition: $global-transition;

      &:hover {
        color: var(--link-color);
      }

      &.active-link {
        color: var(--link-color);
        text-decoration-color: var(--link-color);
      }
    }
  }
}

.nav-button {
  display: flex;
  align-items: center;
  margin-left: auto;
  line-height: 1;

  @media (max-width: $desktop) {
    flex-direction: column;
    align-items: flex-end;

    .color-mode-toggler {
      order: 1;
    }
  }
}

.color-mode-toggler,
.lang-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--link-color);
  cursor: pointer;

  svg {
    margin-right: 2px;
    vertical-align: bottom !important;
  }
}

/* Nav Lang */
.nav-lang {
  margin-left: 20px;
  position: relative;

  #lang-selector {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    width: 190px;
    opacity: 0;
    transition: transform .25s;
    background: var(--background-color);
    border-radius: 12px;
    box-shadow: 0px 0px 96px rgba(0, 0, 0, 0.07), 0px 0px 28px rgba(0, 0, 0, 0.04), 0px 0px 12px rgba(0, 0, 0, 0.035), 0px 0px 4px rgba(0, 0, 0, 0.02);
    transform: translateY(28px);
    pointer-events: none;
    padding: 28px;

    a {
      display: block;
      margin-bottom: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      font-weight: 500;
      color: var(--text-alt-color);
      border-bottom: 1px solid var(--border-color);
      text-decoration: none;
      transition: $global-transition;

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }

      &:hover {
        color: var(--link-color);
      }

      &.active {
        color: var(--link-color);
      }
    }

    &.open {
      pointer-events: initial;
      opacity: 1;
      transform: translateY(20px);
    }
  }

  #lang-selector-closer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    &.open {
      display: block;
    }
  }

  @media (max-width: $desktop) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
    text-align: right;

    .lang-label {
      display: none;
    }

    #lang-selector {
      position: relative;
      width: auto;
      padding: 0;
      transform: none;
      opacity: 1;
      box-shadow: none;
      pointer-events: all;
      background: transparent;

      a {
        margin-bottom: 0;
        padding-bottom: 10px;
        border-bottom: none;
      }
    }
  }
}

.mode-dark {
  .nav-lang {
    border-color: var(--background-color);

    #lang-selector {
      background: var(--background-alt-color);
  
      a {
        border-color: var(--border-alt-color);
      }
    }
  }

  @media (max-width: $desktop) {
    .main-nav {
      background: var(--background-alt-color);

      .nav__list {
        border-color: var(--border-alt-color);
      }
    }
  }
}

.mode-light .color-mode-toggler a:first-child {
  display: none;
}

.mode-dark .color-mode-toggler a:last-child {
  display: none;
}

/* Humburger */
.hamburger {
  width: 24px;
  height: 24px;
  display: none;
  cursor: pointer;

  @media (max-width: $desktop) {
    display: flex;
    align-items: center;
  }
}

.hamburger div,
.hamburger div:after,
.hamburger div:before {
  width: 24px;
  height: 3px;
  border-radius: 10px;
  transition: all 0.15s linear;
  background-color: var(--heading-font-color);
}

.hamburger div:before,
.hamburger div:after {
  content: "";
  position: absolute;
}

.hamburger div:before {
  transform: translateY(-200%);
}

.hamburger div:after {
  transform: translateY(200%);
}

.hamburger.is-open div {
  background: transparent;
}

.hamburger.is-open div:before {
  transform: rotate(45deg);
}

.hamburger.is-open div:after {
  transform: rotate(-45deg);
}