/* Search */
.search-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background: linear-gradient(320deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  
    .search-wrapper-close {
      position: absolute;
      right: 32px;
      top: 32px;
      width: 40px;
      height: 40px;
      background: transparent;
      border: 0;
      opacity: 0.5;
      transition: opacity ease-out 0.2s;
  
      &:focus,
      &:hover {
        opacity: 1;
      }
  
      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 20%;
        top: 50%;
        width: 60%;
        height: 2px;
        margin-top: -1px;
        border-radius: 1px;
        background: #fff;
      }
  
      &:before {
        transform: rotate(-45deg);
      }
  
      &:after {
        transform: rotate(45deg);
      }
  
      @media (max-width: $tablet) {
        top: 32px;
        right: 20px;
      }
  
      @media (max-width: $mobile) {
        right: 12px;
      }
    }
  }
  
  .search-active {
    overflow-y: hidden;
  
    .search-wrapper {
      z-index: 500;
      opacity: 1;
      transition: $global-transition
    }
  }
  
  .search {
    position: relative;
    z-index: 100;
    max-width: 540px;
    margin: 100px auto 0;
    border: 1px solid var(--background-color);
    border-radius: 22px;
    box-shadow: 1px 16px 18px -6px rgba(0, 0, 0, 0.08);
    background: var(--background-color);
    overflow: hidden;
    will-change: transform;
    transition: $global-transition;
  }
  
  .mode-dark {
    .search {
      border-color: var(--border-color);
    }
  }
  
  .search-form {
    position: relative;
    border-bottom: 1px solid var(--border-color);
  
    .search-input-icon {
      position: absolute;
      left: 24px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 22px;
      line-height: 1;
      color: var(--text-alt-color);
  
      svg {
        vertical-align: baseline !important;
      }
    }
  
    .search-field {
      width: 100%;
      padding: 24px 54px 24px 48px;
      font-size: 21px;
      font-weight: 500;
      border: none;
      outline: 0;
      background: var(--background-color);
  
      &::placeholder {
        font-weight: 500;
        color: var(--text-alt-color);
      }
  
      &::-ms-clear {
        display: none;
      }
    }
  
    .search-button {
      display: none;
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
      border: 0;
      outline: none;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      will-change: transform;
      background: var(--color-accent);
      transition: $global-transition;
  
      &.search-button-clear {
        display: block;
        padding: 0;
        border-radius: 4rem;
  
        &:hover {
          transform: translateY(-50%) rotate(90deg);
          background: var(--link-color-hover);
        }
  
        i {
          display: none;
        }
  
        &:before,
        &:after {
          content: '';
          position: absolute;
          left: 20%;
          top: 50%;
          width: 60%;
          height: 2px;
          margin-top: -1px;
          border-radius: 1px;
          background: var(--background-color);
        }
  
        &:before {
          transform: rotate(-45deg);
        }
  
        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }
  
  .search-result {
    overflow-y: scroll;
    max-height: 50vh;
    -webkit-overflow-scrolling: touch;
  
    .search-result-row {
  
      .search-result-row-link {
        display: block;
        padding: 24px;
        text-decoration: none;
        outline: 0;
        border-bottom: 1px solid var(--border-color);
  
        &:hover {
          .search-result-row-title {
            color: var(--color-accent);
          }
        }
  
        .search-result-row-title {
          font-family: var(--base-font-family);
          font-size: 21px;
          line-height: 1.3;
          font-weight: 700;
          color: var(--heading-font-color);
          transition: $global-transition;
        }
  
        .search-result-row-excerpt {
          display: -webkit-box;
          margin-top: 4px;
          font-size: 16px;
          line-height: 1.6;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  
    @media (max-width: $mobile) {
      max-height: 65vh;
  
      .search-result-row {
        .search-result-row-link {
          .search-result-row-title {
            font-size: 20px;
          }
        }
      }
  
    }
  }
  
  .popular-wrapper {
    padding: 24px;
  }
  
  .popular-wrapper .popular-title {
    margin-bottom: 16px;
    font-family: var(--base-font-family);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 700;
    color: var(--heading-font-color);
  }
  
  .popular-wrapper .popular-tags {
    display: flex;
    flex-wrap: wrap;
  
    a {
        display: inline-block;
        margin: 0 6px 6px 0;
        font-size: 12px;
        line-height: 1;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 10px 15px;
        border-radius: 30px;
        border: 1px solid var(--color-accent);
        color: var(--link-alt-color);
        background: var(--color-accent);
        transition: all 0.2s;
  
      &:hover {
        color: var(--color-accent);
        background: transparent;
      }
  
      @media (max-width: $mobile) {
        margin: 0 4px 4px 0;
      }
    }
  }
  
  [dir="rtl"] {
    .search-input-icon {
      left: auto;
      right: 24px;
      transform: translateY(-50%) scaleX(-1);
    }
  
    .search-button {
      left: 24px;
      right: auto;
    }
  }