// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 16px;

// Border radius
$global-radius: 22px;

// Transition
$global-transition: all .2s;


// *****************
// Typography
// *****************

// Headings
$font-size-h1: 36px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;

$heading-font-weight: 700;
$heading-line-height: 1.3;
$heading-letter-spacing: -1px;