<footer>
    {# © <!-- -->2022<!-- -->, Built with<!-- --> <!-- -->
    <br/> #}

    <footer style="padding-top: 1.75rem;">
        <div style="float: right;">
            <a href={{ _blog.url }} target="_blank" rel="noopener noreferrer">rss</a>
        </div>
        <a href={{ _blog.social.twitter }} target="_blank" rel="noopener noreferrer">twitter</a> 
        • <a href={{ _blog.social.linkedin }}target="_blank" rel="noopener noreferrer">linkedin</a> 
        • <a href={{ _blog.social.facebook }} target="_blank" rel="noopener noreferrer">facebook</a>
    </footer>
</footer>
