.main {
    .profile {
        align-items: center;
        min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

.profile {
    .profile_inner h1 {
        padding: 12px 0;
    }
    img {
        display: inline-table;
        border-radius: 50%;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
    &:active {
        transform: scale(0.96);
    }
}

.button-inner {
    padding: 0 8px;
}