<header>
    <h3>
        <a href="/">Hyvor Blogs</a>
    </h3>
    <nav>
        <a href="contact">Privacy</a>
        <a href="contact">Contact</a>
        <a href="contact">About</a>
    </nav>
</header>