{% extends '@base.twig' %}

{% block body %}

	<main class="content" role="main" aria-label="Content">
	 {% include '_hero.twig' %}
	 {% include '_tag_head.twig' %}
		<div class="container">
			<div class="row">{% include '_loop.twig' %}</div>

			

			
			
		</div>
{% include '_pagination.twig' %}

	</main>
{% endblock %}
