{% extends '@base.twig' %}

{% block body %}

	<main class="content" role="main" aria-label="Content">
	 {% include '_hero.twig' %}
	 {% include '_tag_head.twig' %}
		<div class="container">
			{# <div class="row"></div> #}

			{% include '_loop.twig' %}

			{% include '_pagination.twig' %}
			
		</div>


	</main>
{% endblock %}
