{% extends '@base.twig' %}

{% block body %}

<main role="main" class="tag-page">
  <div class="container">
    <div class="row">
     
        <section class="head">
          <div class="title-wrapper"><h1 class="title">{{ _tag.name }}</h1></div>
          <div class="posts-count"><span class="posts-count-span">{{ icon('fontawesome', 'bookmark-solid', 16) }}</span>{{ _tag.posts_count | lang_by_number( zero="posts_num_zero", one="posts_num_one", multi="posts_num_multi" ) }}</div>
          {% if _tag.description %}
          <div class="description">{{ _tag.description }}</div>
          {% endif %}
        </section>

    </div>
  </div>
  {% include '_loop.twig' %}

  {% include '_pagination.twig' %}
</main>

{% endblock %}