// Post wrapper
.wrapper.post {
    @include media-query($on-mobile) {
        padding-left: $spacing-half;
        padding-right: $spacing-half;
    }

    /* ==========================================================================
   Post Newsletter
   ========================================================================== */
    .post-subscribe {
        position: relative;
        padding: 2rem;
        margin: 2rem 0;
        border-top: 1px solid var(--color-light);
        border-bottom: 1px solid var(--color-light);
        box-sizing: border-box;

        &.activated {
            border: 1px solid var(--color-light);
        }

        h4 {
            margin-top: 0;
            margin-bottom: 30px;
            position: relative;

            &:after {
                position: absolute;
                content: "";
                top: 100%;
                margin-top: 2px;
                left: 0;
                width: 70px;
                max-width: 100%;
                height: 2px;
                background: var(--color-gray);
            }
        }
    }

    /* ==========================================================================
   Post Comments
   ========================================================================== */
    .post-comments {
        position: relative;
        padding: 2rem;
        margin: 2rem 0;
        border-top: 1px solid var(--color-light);
        border-bottom: 1px solid var(--color-light);
        box-sizing: border-box;

        &.activated {
            border: 1px solid var(--color-light);
        }

        h4 {
            margin-top: 0;
            margin-bottom: 30px;
            position: relative;

            &:after {
                position: absolute;
                content: "";
                top: 100%;
                margin-top: 2px;
                left: 0;
                width: 70px;
                max-width: 100%;
                height: 2px;
                background: var(--color-gray);
            }
        }
    }

    .post-comments-activate {
        display: inline-block;
        height: 4rem;
        margin: 2rem 0;
        padding: 0 2rem;
        border: 1px solid var(--color-light);
        font-weight: 500;
        font-size: 1.6em;
        line-height: 4rem;
        color: var(--color-text-base-color);
        text-align: center;
        cursor: pointer;
        transition: all ease 0.2s;
        border-radius: 2em;

        &:focus,
        &:hover {
            color: var(--color-text-base-color);
            border-color: var(--color-primary);
        }
    }

    .activated .post-comments-activate {
        display: none;
    }
}

// Post title
.header {
    margin-top: 7.8em;
    margin-bottom: 3em;

    .tags {
        margin-left: 3px;
        letter-spacing: 0.5px;

        .tag {
            font-weight: $bold-weight;
            font-size: $small-font-size - 2;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .header-title {
        font-size: 2em;
        line-height: 1.2;
        margin-top: 10px;
        margin-bottom: 20px;

        &.center {
            text-align: center;
        }

        @include media-query($on-mobile) {
            font-size: 1.9em;
        }
    }

    .translated-wrapper {
        margin: 15px 0;
        padding: 10px;
        background-color: rgb(241, 241, 239);
        color: var(--color-black);
        border-radius: 10px;

        p {
            margin: 0;
        }
    }
}

// Post meta
.post-meta {
    padding-top: 3px;
    line-height: 1.3;
    color: var(--color-gray);

    time {
        position: relative;
        margin-right: 1.5em;

        &::after {
            background: var(--color-light);
            bottom: 1px;
            content: " ";
            height: 2px;
            position: absolute;
            right: -20px;
            width: 12px;
        }
    }

    .author-avatar {
        line-height: 1.3;
        color: var(--color-gray);
    }

    span[itemprop="author"] {
        border-bottom: 1px dotted var(--color-light);
    }
}

// Post content
.page-content {
    padding-top: 8px;

    iframe {
        text-align: center;
    }

    figure {
        img {
            border-radius: 2px;
        }

        figcaption {
            margin-top: 5px;
            font-style: italic;
            font-size: $small-font-size;
        }
    }

    aside {
        padding: 30px;
        padding-right: 60px;
        margin: 40px 0 40px;
        position: relative;
        span {
            position: absolute;
            right: 30px;
            font-size: 30px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    mark {
        background-color: #ffc336;
    }

    code,
    tt {
        position: relative;
        margin: 0 1px;
        padding: 4px 8px;
        font-family: monospace, sans-serif;
        font-size: 0.75em;
        top: -2px;
        white-space: pre-wrap;
        background: var(--color-light);
        border: 1px solid var(--color-smoke);
    }

    pre {
        position: relative;
        margin: 0 0 4rem;
        overflow: hidden;
        font-family: monospace, sans-serif;
        white-space: pre;
        box-sizing: border-box;
        padding: 0;

        .line {
            display: block;
            padding-right: 0.33334em;
        }

        .line-number {
            padding: 0 6px;
            margin-right: 1rem;
            position: absolute;
            left: 1rem;
        }

        code,
        tt {
            display: block;
            position: static;
            top: auto;
            padding: 1.33334em 0;
            overflow-x: auto;
            font-size: 0.75em;
            line-height: 2em;
            white-space: pre;
            background: transparent;
            border: none;
            vertical-align: inherit;
        }

        code.language-text {
            margin-left: -1.33334em;
        }
    }

    a {
        color: var(--color-text-link-blue);
        text-decoration: none;
        &[target="_blank"]::after {
            content: " \2197";
            font-size: $small-font-size;
            line-height: 0;
            position: relative;
            bottom: 5px;
            vertical-align: baseline;
        }

        &:hover {
            color: var(--color-text-link-blue-active);
        }

        &:focus {
            color: var(--color-text-link-blue);
        }
    }

    > p {
        margin: 0;
        padding-top: $spacing-full - 15;
        padding-bottom: $spacing-full - 15;
    }

    ul.task-list {
        list-style: none;
        margin: 0;

        li::before {
            content: "";
        }

        li input[type="checkbox"] {
            margin-right: 10px;
        }
    }

    dl dt {
        font-weight: $bold-weight;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-black);
        font-weight: $bold-weight;
        margin-top: $spacing-full;
        margin-bottom: 0;

        &:hover {
            .anchor-head {
                color: var(--color-text-link-blue);
                opacity: 1;
            }
        }

        .anchor-head {
            position: relative;
            opacity: 0;
            outline: none;

            &::before {
                content: "#";
                position: absolute;
                right: -3px;
                width: 1em;
                font-weight: $bold-weight;
            }
        }
    }

    h1 {
        @include relative-font-size(1.5);
    }

    h2 {
        @include relative-font-size(1.375);
    }

    h3 {
        @include relative-font-size(1.25);
        border-bottom: 1px solid var(--color-light);
        padding-bottom: 4px;
    }

    h4 {
        @include relative-font-size(1.25);
    }

    h5 {
        @include relative-font-size(1);
    }

    h6 {
        @include relative-font-size(0.875);
    }

    a.bookmark {
        width: 100%;
        margin: 0 0 4rem;
        display: flex;
        text-decoration: none;
        min-height: 8em;
        border: 1px solid var(--color-light);
        box-shadow: none !important;
        overflow: hidden;
        .bookmark-details {
            text-rendering: optimizeLegibility;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            justify-content: start;
            padding: 1.5em;
            color: var(--color-content-secondary);
            .bookmark-title {
                color: var(--color-text-base-color);
                font-size: 0.75em;
                line-height: 1.66667em;
                font-weight: 700;
                letter-spacing: 0.5px;
            }
            .bookmark-description {
                color: var(--color-text-base-color);
                display: -webkit-box;
                font-size: 0.75em;
                line-height: 1.66667em;
                font-weight: 400;
                margin-top: 0.33334em;
                max-height: 3.33334em;
                overflow-y: hidden;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .bookmark-domain {
                text-rendering: optimizeLegibility;
                display: flex;
                align-items: center;
                font-size: 0.75em;
                line-height: 1.66667em;
                color: var(--color-text-base-color);
                font-weight: 400;
                margin-top: 1em;
                flex-wrap: wrap;
            }
        }
        .bookmark-thumbnail {
            position: relative;
            min-width: 33%;
            max-height: 100%;
        }

        @include media-query($on-mobile) {
            flex-direction: column-reverse;
            .bookmark-thumbnail {
                width: 100%;
                min-height: 160px;
            }
        }

        &:after {
            display: none;
        }
    }
}

.post-nav {
    display: flex;
    position: relative;
    margin-top: 5em;
    border-top: 1px solid var(--color-light);
    line-height: 1.4;

    .post-nav-item {
        border-bottom: 0;
        font-weight: $bold-weight;
        padding-bottom: 10px;

        .post-title {
            color: var(--color-black);
        }

        &:hover,
        &:focus {
            .post-title {
                color: var(--color-text-link-blue-active);
                opacity: 0.9;
            }
        }

        .nav-arrow {
            font-weight: $normal-weight;
            font-size: $small-font-size;
            color: var(--color-gray);
            margin-bottom: 3px;
        }

        width: 50%;
        padding-top: 10px;
        text-decoration: none;
        box-sizing: border-box;

        &:nth-child(odd) {
            padding-left: 0;
            padding-right: 20px;
        }

        &:nth-child(even) {
            text-align: right;
            padding-right: 0;
            padding-left: 20px;
        }
    }

    @include media-query($on-mobile) {
        display: block;
        font-size: $small-font-size;

        .post-nav-item {
            display: block;
            width: 100%;
        }

        .post-nav-item:nth-child(even) {
            border-left: 0;
            padding-left: 0;
            border-top: 1px solid var(--color-light);
        }
    }
}

.post-updated-at {
    font-family: "Ubuntu mono", "monospace";
}

// Post cover
.post-cover {
    &.cover {
        margin-top: 20px;
    }
}
