header {
  display: flex;
  height: 76px;
  align-items: center;
  justify-content: center;

  nav {
    display: flex;
    width: $container;
    max-width: 100%;
    padding: 0 $container-padding;
    margin: auto;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  svg {
    display: block;
  }

  .brand {
    display: inline-flex;
    align-items: center;
    transition: 0.2s opacity ease;

    &:hover {
      opacity: 0.8;
    }

    img {
      vertical-align: middle;
      height: 30px;
    }
    .name {
      font-weight: 700;
      font-size: 1.15rem;
      letter-spacing: -0.01em;
      margin-inline-start: 2px;
    }
  }

  .nav-links {
    flex: 1;
    text-align: right;
    a {
      display: inline-flex;
      align-items: center;
      line-height: 1;
      margin-inline-start: 4px;
      font-weight: 600;
      font-size: 14.5px;
      position: relative;
      padding: 8px;

      &:after {
        content: "";
        position: absolute;
        left: 8px;
        right: 8px;
        bottom: 2px;
        height: 2px;
        border-radius: 2px;
        background: var(--color-accent);
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      }

      &:not(.active):hover:after {
        transform: scaleX(0.6);
      }

      &.active {
        color: var(--color-accent);
        &:after {
          transform: scaleX(1);
        }
      }
    }

    .nav-search {
      @media only screen and (max-width: 640px) {
        display: flex;
        align-items: end;
        gap: 10px;
      }

      .mobile-title {
        @media only screen and (min-width: 640px) {
          display: none;
        }
      }
    }
  }

  .color-mode-toggler {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-inline-start: 15px;
    a {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      padding: 8px;
      margin: -8px;
      transition: 0.2s transform ease;
      &:hover {
        transform: rotate(-12deg) scale(1.1);
      }
    }
  }

  #mobile-nav-icon {
    margin-inline-end: 10px;
    display: none;
  }
  #mobile-nav-closer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    &.open {
      display: block;
    }
  }
}

[dir="rtl"] .nav-links {
  text-align: left;
}

.mode-light .color-mode-toggler a:first-child {
  display: none;
}
.mode-dark .color-mode-toggler a:last-child {
  display: none;
}
