@import "_normalize.scss";
@import "variables.scss";
@import "header.scss";
@import "footer.scss";
@import "post.scss";
@import "loop.scss";
@import "author.scss";
@import "mobile.scss";
@import "search.scss";
@import "404.scss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--color-background-body);
  color: var(--color-text-content);
}

main {
  width: $container;
  max-width: 100%;
  padding: 0 $container-padding;
  margin: 48px auto auto;
  min-height: calc(100vh - 200px);
}

// shared
.page-data {
  margin-bottom: 40px;
  text-align: center;
  animation: fade-in-up 0.5s ease both;
  .page-title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.2rem;
    margin: 0;
  }
  .page-description {
    color: var(--color-text-content-secondary);
    margin: 8px 0;
    font-size: 1.2rem;
  }
}

.global-tag {
  text-decoration: none;
  padding: 4px 15px;
  display: inline-block;
  background-color: var(--color-tag-bg);
  color: var(--color-tag-fg);
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  transition:
    0.2s transform ease,
    0.2s background-color ease,
    0.2s color ease;
  &:is(a):hover {
    transform: translateY(-2px);
    background-color: var(--color-accent);
    color: #fff;
  }
}

.global-opacity-link {
  display: inline-block;
  opacity: 1;
  transition:
    0.15s opacity ease,
    0.15s color ease,
    0.15s transform ease;
  &:not(.active):hover {
    opacity: 0.9;
    color: var(--color-accent) !important;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.global-post-authors {
  display: flex;
  align-items: center;
  font-size: 0.85rem;

  img,
  .avatar-placeholder {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;

    &:not(:first-child) {
      margin-inline-start: -25px;
    }
  }

  .avatar-placeholder {
    background-color: var(--color-background-contrast);
  }

  .author-pictures {
    display: inline-flex;
    align-items: center;
  }

  .author-names {
    margin-inline-start: 5px;
    font-weight: 600;
  }

  .authors {
    display: inline-flex;
    align-items: center;

    .author {
      display: inline-flex;
      align-items: center;
      margin-inline-end: 10px;
      text-decoration: none;
      font-weight: 600;
      color: inherit;
      .author-name {
        margin-inline-start: 3px;
      }
    }
  }
}

.translated-wrapper {
  font-style: italic;

  a:not([class]) {
    color: var(--color-accent);
    text-decoration: none;
    font-weight: 600;
    box-shadow: inset 0 -1px 0 var(--color-accent);
  }
}
