.posts-loop {

    a.article {
        display: flex;
        padding: 30px;
        background: var(--color-background-box);
        margin-bottom: 30px;
        border-radius: var(--box-radius);
        box-shadow: var(--box-shadow);
        text-decoration: none;
        color: inherit;
        transition: .1s box-shadow;
        position: relative;

        .left {
            flex: 1;

            h2 {
                margin: 0;
                font-size: 22px;
                line-height: 24px;
            }

            p.description {
                margin-top: 10px;
                margin-bottom: 10px;
                color: var(--color-text-content-secondary);
            }

            .date {
                font-size: 0.8rem;
                margin-top: 8px;
            }

            .post-tags {
                margin-top: 10px;

                .global-tag {
                    margin-top: 5px;
                }
            }
        }

        .right {
            padding-inline-start: 25px;

            img {
                width: 300px;
                border-radius: var(--box-radius);
                aspect-ratio: 16/9;
            }
        }

        &:hover {
            box-shadow: var(--box-shadow), 0 0 20px rgba(0, 0, 0, 0.05);
        }

        .pinned {
            position: absolute;
            bottom: 100%;
            left: 0;
            transform: translateY(50%);
            margin-left: 30px;
            .pinned-icon {
                display: inline-flex;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: var(--color-accent);
                color: #fff;
                align-items: center;
                justify-content: center;
            }
        }

    }

}

[dir="rtl"] a.article .pinned {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: 30px;
}

nav.pagination {
    text-align: center;
    margin: 30px 0;
    .pagination-info {
        color: var(--color-text-content-secondary);
        vertical-align: middle;
    }
    a {
        margin: 0 3px;
        padding: 10px;
        display: inline-block;
        transition: .3s transform ease-out;
        vertical-align: middle;
        color: inherit;
        &.hidden {
            visibility: hidden;
        }
        &:hover {
            color: var(--color-accent);
        }
    }
}

[dir="rtl"] nav.pagination {
    a {
        transform: rotate(180deg);
    }
}