$breakpoint-large: 960px;
$breakpoint-medium: 640px;
$breakpoint-small: 480px;
$inner: calc(64rem + 8vw);

:root {
    --font-primary: 'Fira Sans', sans-serif;
    --font-secondary: 'Libre Baskerville', serif;
}