.post-content {
    font-size: 1.75em;
    line-height: 2em;

    a:not([class]) {
        color: inherit;
        text-decoration: none;
        font-weight: 400;
        box-shadow: inset 0 -2px 0 var(--color-primary);
        transition: all ease-out 0.1s;

        &:focus,
        &:hover {
            box-shadow: inset 0 -3px 0 var(--color-primary);
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.25em;
        margin: 0 0 4rem;
        text-rendering: optimizeLegibility;
        color: var(--color-content-lead);
    }

    h1 {
        font-size: 4rem;
        text-indent: -1px;
    }

    h2 {
        font-size: 3rem;
        text-indent: -1px;
    }

    h3 {
        font-size: 2.4rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5,
    h6 {
        font-size: 2rem;
        font-weight: 500;
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        font-weight: inherit;
    }

    p {
        font-family: var(--font-secondary);
        margin: 0 0 4rem;
    }

    ol,
    ul {
        font-family: var(--font-secondary);
        margin: 0 0 4rem;
        padding-left: 2em;
        box-sizing: border-box;
    }

    ol {
        list-style-type: none;
        counter-reset: item;
    }

    li {
        position: relative;

        &::marker {
            color: transparent;
        }
    }

    ol > li:before,
    ul > li:before {
        position: absolute;
        width: 1.5em;
        margin-left: -2em;
        font-size: 1em;
        font-weight: 500;
        line-height: 2em;
        text-align: right;
        color: var(--color-primary);
        font-family: var(--font-primary);
    }

    ul > li:before {
        margin-top: -1px;
        content: '—' !important;
    }

    ol > li:before {
        content: counter(item) ". " !important;
        counter-increment: item;
    }

    ol ol,
    ol ul,
    ul ol,
    ul ul {
        padding-left: 30px;
        margin: 15px 0;
    }

    hr {
        display: block;
        height: 1px;
        margin: 0 0 4rem;
        padding: 0;
        background: var(--color-background-contrast);
        border: 0;
    }

    blockquote {
        font-family: var(--font-secondary);
        margin: 0 0 4rem;
        padding: 0.25em 1em;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-left: 0.25em solid var(--color-primary);
        font-style: italic;
        font-weight: 400;
    }

    blockquote * {
        margin: 0 0 1em;
        font-family: inherit;
        color: inherit;
    }

    blockquote *:first-child {
        margin-top: 0;
    }

    blockquote *:last-child {
        margin-bottom: 0;
    }

    em,
    i {
        font-style: italic;
    }

    b,
    strong {
        font-weight: 700;
        color: var(--color-content-lead);
    }

    small {
        font-size: 0.9em;
    }

    dl {
        font-family: var(--font-secondary);
        margin: 0 0 4rem;
        padding-left: 30px;
    }

    dl dt {
        font-weight: 500;
        font-size: 0.75em;
        line-height: 1.25em;
        font-weight: 700;
        margin-bottom: 0.33334em;
        font-family: var(--font-primary);
    }

    dl dt:before {
        content: '';
        position: absolute;
        width: 1em;
        height: 2px;
        margin-left: -30px;
        margin-top: 0.5em;
        background: var(--color-primary);
    }

    dl dd {
        margin-left: 0;
        margin-bottom: 1em;
    }

    mark {
        background-color: #FFC336;
    }

    code,
    tt {
        position: relative;
        margin: 0 1px;
        padding: 4px 8px;
        font-family: monospace, sans-serif;
        font-size: 0.75em;
        background: var(--color-background-secondary);
        border: 1px solid var(--color-background-contrast);
        top: -2px;
        white-space: pre-wrap;
    }

    pre {
        position: relative;
        margin: 0 0 4rem;
        padding: 1em;
        overflow: hidden;
        font-family: monospace, sans-serif;
        white-space: pre;
        background: var(--color-background-secondary);
        border: 1px solid var(--color-background-contrast);
        box-sizing: border-box;
    }

    pre .lines {
        position: absolute;
        width: 2.66667em;
        height: 100%;
        left: 0;
        top: 0;
        padding: 1.33334em 0;
        border-right: 1px solid var(--color-background-contrast);
        color: var(--color-content-secondary);
        font-size: 0.75em;
        line-height: 2em;
        text-align: right;
        box-sizing: border-box;
        background: var(--color-background-secondary);
        user-select: none;
        -webkit-user-select: none;
    }

    pre .lines .line {
        display: block;
        padding-right: 0.33334em;
    }

    pre code,
    pre tt {
        display: block;
        position: static;
        top: auto;
        margin: -1.33334em -1.33334em -1.33334em 1.33334em;
        padding: 1.33334em;
        overflow-x: auto;
        font-size: 0.75em;
        line-height: 2em;
        white-space: pre;
        background: transparent;
        border: none;
        vertical-align: inherit;
    }

    pre code.language-text {
        margin-left: -1.33334em;
    }

    kbd {
        display: inline-block;
        margin-bottom: 0.5em;
        padding: 1px 8px;
        border: 1px solid var(--color-background-contrast);
        text-shadow: 0 1px 0 white;
        font-size: 0.9em;
        font-weight: bold;
        background: var(--color-background-secondary);
        border-radius: 4px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 white inset;
    }

    table {
        position: relative;
        width: 100%;
        max-width: 100%;
        margin: 0 0 4rem;
        border: 1px solid var(--color-background-contrast);
        background: var(--color-background-secondary);

        @media (max-width: $breakpoint-medium) {
            display: block;
            border: none;
            overflow-x: auto;
            box-shadow: inset 0 0 0 1px var(--color-background-contrast);
        }

        td,
        th {
            position: relative;
            padding: 1.5rem;
            font-size: 0.75em;
            line-height: 1.33334em;
            border: 1px solid var(--color-background-contrast);
        }

        th {
            text-align: left;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 0.75em;
            line-height: 1.33334em;
            color: var(--color-content-secondary);
        }
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 0 4rem;
    }

    .fluid-width-video-wrapper {
        margin: 0 0 4rem;
    }

    form {

        p {
            margin: 0 0 2rem;
        }

        fieldset {
            border: 0;
            margin: 0;
            padding: 0;
        }
    }

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-family: var(--font-primary);
        font-weight: 500;
        color: var(--color-content-main);
    }

    select,
    textarea,
    input[type="url"],
    input[type="tel"],
    input[type="text"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="search"],
    input[type="password"] {
        width: 100%;
        height: auto;
        padding: 1rem;
        box-sizing: border-box;
        transition: all ease-out 0.1s;
        outline: none;
        box-shadow: none;
        -webkit-appearance: normal;
        appearance: normal;
        border-radius: 0;
        color: var(--color-content-main);
        border: 1px solid var(--color-content-secondary);
        background: transparent;
    }

    select:hover,
    textarea:hover,
    input[type="url"]:hover,
    input[type="tel"]:hover,
    input[type="text"]:hover,
    input[type="email"]:hover,
    input[type="month"]:hover,
    input[type="number"]:hover,
    input[type="search"]:hover,
    input[type="password"]:hover {
        border-color: var(--color-primary);
    }

    select:focus,
    textarea:focus,
    input[type="url"]:focus,
    input[type="tel"]:focus,
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="month"]:focus,
    input[type="number"]:focus,
    input[type="search"]:focus,
    input[type="password"]:focus {
        box-shadow: inset 0 0 0 1px var(--color-primary);
        border-color: var(--color-primary);
    }

    input[type="reset"],
    input[type="submit"],
    input[type="button"],
    button,
    .button {
        display: block;
        width: 100%;
        padding: 1rem;
        border: 0;
        border-radius: 4rem;
        box-sizing: border-box;
        -webkit-appearance: normal;
        appearance: normal;
        transition: all ease-out 0.1s;
        background: var(--color-primary);
        font-weight: 600;
        color: white;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
    }

    input[type="reset"]:hover,
    input[type="submit"]:hover,
    input[type="button"]:hover,
    button:hover,
    .button:hover {

    }

    input[type="reset"]:focus,
    input[type="submit"]:focus,
    input[type="button"]:focus,
    button:focus,
    .button:focus {

    }
}


// cards
.post-content {
    figure figcaption {
        position: relative;
        color: var(--color-content-secondary);
        max-width: $inner;
        margin: auto;
        font-size: 0.75em;
        line-height: 2em;
        padding: 2rem 0;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 8rem;
            height: 1px;
            background: var(--color-background-contrast);
        }

        a {
            box-shadow: inset 0 -1px 0 var(--color-background-contrast);

            &:focus,
            &:hover {
                box-shadow: inset 0 -2px 0 var(--color-background-contrast);
            }
        }
    }

    .kg-card {
        margin: 0 0 4rem;
    }

    .kg-file-card {

        .kg-file-card-container {
            padding: 1.5rem;

            .kg-file-card-icon {

            }

            .kg-file-card-contents {
                margin: 0;

                .kg-file-card-title {
                    font-size: 2rem;
                    line-height: 1.25em;
                }

                .kg-file-card-caption {
                    margin: 0.25rem 0 0;
                    font-size: 0.9em;
                    line-height: 1.25em;
                    opacity: inherit;
                    color: var(--color-content-secondary);
                }

                .kg-file-card-metadata {
                    margin: 1.5rem 0 0;

                    .kg-file-card-filename {
                        display: inline-block;
                        line-height: inherit;
                    }
                    .kg-file-card-filesize {
                        display: inline-block;
                        font-size: 0.9em;
                        line-height: inherit;
                        opacity: inherit;
                        color: var(--color-content-secondary);
                    }
                }
            }
        }
    }

    // KG Image
    .kg-image-card {
        max-width: none !important;

        &.kg-width-wide {
            max-width: calc(72rem + 24vw) !important;
            min-width: 100%;
            width: calc(100vw - 4rem);

            figcaption {
                padding-left: 6rem;
                padding-right: 6rem;
                @media only screen and (max-width: $breakpoint-medium) {
                    padding-left: 2rem;
                    padding-right: 2rem;
                }

                &:after {
                    margin-left: 6rem;
                    @media only screen and (max-width: $breakpoint-medium) {
                        margin-left: 2rem;
                    }
                }
            }
        }

        &.kg-width-full {
            max-width: none;
            width: 100vw;
            margin-top: 2em;

            figcaption {
                padding-left: 8rem;
                padding-right: 8rem;
                @media only screen and (max-width: $breakpoint-medium) {
                    padding-left: 4rem;
                    padding-right: 4rem;
                }

                &:after {
                    margin-left: 8rem;
                    @media only screen and (max-width: $breakpoint-medium) {
                        margin-left: 4rem;
                    }
                }
            }
        }

        .kg-image {
            margin: 0 auto;
        }

        .kg-image-full + figcaption {
            margin-bottom: 1.33334em;
        }
    }
    // KG Gallery
    .kg-gallery-card {
        max-width: calc(72rem + 24vw) !important;
        min-width: 100%;
        width: calc(100vw - 4rem);

        figcaption {
            padding-left: 6rem;
            padding-right: 6rem;
            @media only screen and (max-width: $breakpoint-medium) {
                padding-left: 2rem;
                padding-right: 2rem;
            }

            &:after {
                margin-left: 6rem;
                @media only screen and (max-width: $breakpoint-medium) {
                    margin-left: 2rem;
                }
            }
        }
    }

    .kg-gallery-container {
        display: flex;
        flex-direction: column;
    }

    .kg-gallery-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .kg-gallery-image img {
        display: block;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .kg-gallery-row:not(:first-of-type) {
        margin: 0.75em 0 0;
    }

    .kg-gallery-image:not(:first-of-type) {
        margin: 0 0 0 0.75em;
    }
    // KG Embed
    .kg-embed-card {
        margin: 0 0 4rem;

        > * {
            margin-left: auto;
            margin-right: auto;
        }
    }
    // KG Code
    .kg-code-card {
        min-width: 100%;
    }

    .kg-code-card pre {
        margin: 0;
    }
    // KG Bookmark
    .kg-bookmark-card {
        width: 100%;
    }

    .kg-bookmark-container {
        display: flex;
        text-decoration: none;
        min-height: 8em;
        background: var(--color-background-secondary);
        border: 1px solid var(--color-background-contrast);
        box-shadow: none !important;
        overflow: hidden;
    }

    .kg-bookmark-content {
        text-rendering: optimizeLegibility;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        justify-content: start;
        padding: 1.5em;
        color: var(--color-content-secondary);
    }

    .kg-bookmark-title {
        color: var(--color-content-main);
        font-size: 0.75em;
        line-height: 1.66667em;
        font-weight: 700;
        letter-spacing: 0.5px;
    }

    .kg-bookmark-description {
        display: -webkit-box;
        font-size: 0.75em;
        line-height: 1.66667em;
        font-weight: 400;
        margin-top: 0.33334em;
        max-height: 3.33334em;
        overflow-y: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .kg-bookmark-thumbnail {
        position: relative;
        min-width: 33%;
        max-height: 100%;
    }

    .kg-bookmark-thumbnail img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .kg-bookmark-metadata {
        text-rendering: optimizeLegibility;
        display: flex;
        align-items: center;
        font-size: 0.75em;
        line-height: 1.66667em;
        color: var(--color-content-main);
        font-weight: 400;
        margin-top: 1em;
        flex-wrap: wrap;
    }

    .kg-bookmark-icon {
        width: 1.33334em;
        margin: 0 0.75em 0 0;
    }

    .kg-bookmark-author:after {
        content: "•";
        margin: 0 0.33334em;
    }

    .kg-bookmark-publisher {
        color: var(--color-primary);
    }
    @media (max-width: $breakpoint-medium) {
        .kg-bookmark-container {
            flex-direction: column;
        }

        .kg-bookmark-thumbnail {
            order: 1;
            width: 100%;
            min-height: 160px;
        }

        .kg-bookmark-thumbnail img {
            border-radius: 3px 3px 0 0;
        }

        .kg-bookmark-content {
            order: 2;
        }
    }
}