.post-content {
    font-size: 1.75em;
    line-height: 2em;

    a:not([class]) {
        color: inherit;
        text-decoration: none;
        font-weight: 400;
        box-shadow: inset 0 -2px 0 var(--color-primary);
        transition: all ease-out 0.1s;

        &:focus,
        &:hover {
            box-shadow: inset 0 -3px 0 var(--color-primary);
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.25em;
        margin: 0 0 4rem;
        text-rendering: optimizeLegibility;
        color: var(--color-content-lead);
    }

    h1 {
        font-size: 4rem;
        text-indent: -1px;
    }

    h2 {
        font-size: 3rem;
        text-indent: -1px;
    }

    h3 {
        font-size: 2.4rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5,
    h6 {
        font-size: 2rem;
        font-weight: 500;
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        font-weight: inherit;
    }

    p {
        font-family: var(--font-secondary);
        margin: 0 0 4rem;
    }

    ol,
    ul {
        font-family: var(--font-secondary);
        margin: 0 0 4rem;
        padding-left: 2em;
        box-sizing: border-box;
    }

    ol {
        list-style-type: none;
        counter-reset: item;
    }

    li {
        position: relative;

        &::marker {
            color: transparent;
        }

        p {
            margin: 0;
        }
    }

    ol > li:before,
    ul > li:before {
        position: absolute;
        width: 1.5em;
        margin-left: -2em;
        font-size: 1em;
        font-weight: 500;
        line-height: 2em;
        text-align: right;
        color: var(--color-primary);
        font-family: var(--font-primary);
    }

    ul > li:before {
        margin-top: -1px;
        content: '—' !important;
    }

    ol > li:before {
        content: counter(item) ". " !important;
        counter-increment: item;
    }

    ol ol,
    ol ul,
    ul ol,
    ul ul {
        padding-left: 30px;
        margin: 15px 0;
    }

    hr {
        display: block;
        height: 1px;
        margin: 0 0 4rem;
        padding: 0;
        background: var(--color-background-contrast);
        border: 0;
    }

    blockquote {
        font-family: var(--font-secondary);
        margin: 0 0 4rem;
        padding: 0.25em 1em;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-left: 0.25em solid var(--color-primary);
        font-style: italic;
        font-weight: 400;
    }

    blockquote * {
        margin: 0 0 1em;
        font-family: inherit;
        color: inherit;
    }

    blockquote *:first-child {
        margin-top: 0;
    }

    blockquote *:last-child {
        margin-bottom: 0;
    }

    em,
    i {
        font-style: italic;
    }

    b,
    strong {
        font-weight: 700;
        color: var(--color-content-lead);
    }

    small {
        font-size: 0.9em;
    }

    dl {
        font-family: var(--font-secondary);
        margin: 0 0 4rem;
        padding-left: 30px;
    }

    dl dt {
        font-weight: 500;
        font-size: 0.75em;
        line-height: 1.25em;
        font-weight: 700;
        margin-bottom: 0.33334em;
        font-family: var(--font-primary);
    }

    dl dt:before {
        content: '';
        position: absolute;
        width: 1em;
        height: 2px;
        margin-left: -30px;
        margin-top: 0.5em;
        background: var(--color-primary);
    }

    dl dd {
        margin-left: 0;
        margin-bottom: 1em;
    }

    mark {
        background-color: #FFC336;
    }

    code,
    tt {
        position: relative;
        margin: 0 1px;
        padding: 4px 8px;
        font-family: monospace, sans-serif;
        font-size: 0.75em;
        background: var(--color-background-secondary);
        border: 1px solid var(--color-background-contrast);
        top: -2px;
        white-space: pre-wrap;
    }

    pre {
        position: relative;
        margin: 0 0 4rem;
        padding: 1em;
        overflow: hidden;
        font-family: monospace, sans-serif;
        white-space: pre;
        background: var(--color-background-secondary);
        border: 1px solid var(--color-background-contrast);
        box-sizing: border-box;
    }

    pre .lines {
        position: absolute;
        width: 2.66667em;
        height: 100%;
        left: 0;
        top: 0;
        padding: 1.33334em 0;
        border-right: 1px solid var(--color-background-contrast);
        color: var(--color-content-secondary);
        font-size: 0.75em;
        line-height: 2em;
        text-align: right;
        box-sizing: border-box;
        background: var(--color-background-secondary);
        user-select: none;
        -webkit-user-select: none;
    }

    pre .lines .line {
        display: block;
        padding-right: 0.33334em;
    }

    pre code,
    pre tt {
        display: block;
        position: static;
        top: auto;
        margin: -1.33334em -1.33334em -1.33334em 1.33334em;
        padding: 1.33334em;
        overflow-x: auto;
        font-size: 0.75em;
        line-height: 2em;
        white-space: pre;
        background: transparent;
        border: none;
        vertical-align: inherit;
    }

    pre code.language-text {
        margin-left: -1.33334em;
    }

    kbd {
        display: inline-block;
        margin-bottom: 0.5em;
        padding: 1px 8px;
        border: 1px solid var(--color-background-contrast);
        text-shadow: 0 1px 0 white;
        font-size: 0.9em;
        font-weight: bold;
        background: var(--color-background-secondary);
        border-radius: 4px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 white inset;
    }

    table {
        position: relative;
        width: 100%;
        max-width: 100%;
        margin: 0 0 4rem;
        border: 1px solid var(--color-background-contrast);
        background: var(--color-background-secondary);

        @media (max-width: $breakpoint-medium) {
            display: block;
            border: none;
            overflow-x: auto;
            box-shadow: inset 0 0 0 1px var(--color-background-contrast);
        }

        td,
        th {
            position: relative;
            padding: 1.5rem;
            font-size: 0.75em;
            line-height: 1.33334em;
            border: 1px solid var(--color-background-contrast);
        }

        th {
            text-align: left;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 0.75em;
            line-height: 1.33334em;
            color: var(--color-content-secondary);
        }
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 0 4rem;
    }


}


// cards
.post-content {
    figure figcaption {
        position: relative;
        color: var(--color-content-secondary);
        max-width: $inner;
        margin: auto;
        font-size: 0.75em;
        line-height: 2em;
        padding: 2rem 0;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 8rem;
            height: 1px;
            background: var(--color-background-contrast);
        }

        a {
            box-shadow: inset 0 -1px 0 var(--color-background-contrast);

            &:focus,
            &:hover {
                box-shadow: inset 0 -2px 0 var(--color-background-contrast);
            }
        }
    }
}