@font-face {
    font-family: 'Libre Baskerville';
    font-weight: 400;
    font-style: normal;
    src: url('./assets/LibreBaskerville-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-style: normal;
    src: url('./assets/LibreBaskerville-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    src: url('./assets/LibreBaskerville-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/font-fira-sans-latin-regular.woff2') format('woff2');
}
/* fira-sans-500 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/font-fira-sans-latin-500.woff2') format('woff2');
}
/* fira-sans-700 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/font-fira-sans-latin-700.woff2') format('woff2');
}
