.blog-header {
    position: relative;
    padding-top: calc(16rem + 4vw);

    &.has-cover {
        padding-top: calc(24rem + 8vw);
        color: white;
        background: black;
        overflow: hidden;
        text-shadow: 0 1px 2px rgba(0,0,0,0.1);

        &:after {
            display: none;
        }
    }

    .blog-box {
        position: relative;
        z-index: 10;
        padding-bottom: calc(4rem + 2vw);
        text-align: center;
        border-bottom: 1px solid var(--color-background-contrast);
    }

    &.has-cover .blog-box {
        border: none;
        padding-bottom: calc(8rem + 4vw);
    }
}

.blog-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    background: no-repeat scroll center center / cover #000;
    animation: 0.5s ease-in forwards fadein;
    display: flex;
    align-items: center;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 66.666%;
        left: 0;
        bottom: 0;
        z-index: 8;
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.333) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.333) 100%);
    }

    img {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        z-index: 6;
        object-fit: cover;
    }
}

.blog-name {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 6em;
    line-height: 1em;
    text-decoration: none;
    color: var(--color-content-lead);
}

.has-cover .blog-name {
    color: white;
}

.blog-description {
    font-family: var(--font-secondary);
    display: block;
    margin-top: 1rem;
    padding: 0;
    font-size: 3em;
    line-height: 1.33334em;
    color: var(--color-content-secondary);
}

.has-cover .blog-description {
    color: white;
}

.archive {
    position: relative;
    z-index: 10;

    &.archive-box {
        padding-bottom: calc(4rem + 2vw);
        border-bottom: 1px solid var(--color-background-contrast);
    }

    .archive-info {
        display: flex;
        margin-bottom: 2rem;
        font-size: 2em;
        line-height: 1em;

        .archive-type {
            color: var(--color-primary);
        }

        .archive-count {
            position: relative;
            margin-inline-start: 3.5rem;
            color: var(--color-content-secondary);

            &:after {
                content: '';
                position: absolute;
                left: -2.5rem;
                top: 50%;
                width: 1.5rem;
                height: 2px;
                background: var(--color-background-contrast);
            }
        }
    }

    .archive-title {
        font-size: 4em;
        line-height: 1em;
        margin: 1rem 0;
        color: var(--color-content-lead);
    }

    .archive-description {
        display: block;
        font-size: 2em;
        line-height: 1.5em;
        margin: 1rem 0;
        font-family: var(--font-secondary);
        color: var(--color-content-secondary);
    }

    .archive-links {
        display: block;
        font-size: 2em;
        line-height: 1.5em;
        margin-top: 1rem;

        ul {
            display: flex;
            width: 100%;
            margin: 0 auto;
            padding: 0;
            list-style: none;
        }

        a {
            text-decoration: none;
            i {
                margin: 0 5px;
            }
            span {
                display: none;
            }
        }
    }

    a {
        color: var(--color-primary);
        transition: color linear 0.1s;

        &:focus,
        &:hover {
            opacity: 0.92;
        }
    }

    &.archive-author {
        padding-inline-start: 16rem;
        @media only screen and (max-width: $breakpoint-medium) {
            padding-inline-start: 0;
            padding-inline-end: 10rem;
        }

        .archive-avatar {
            position: absolute;
            top: 0;
            left: 2rem;
            width: 10rem;
            height: 10rem;
            border-radius: 8rem;
            overflow: hidden;
            @media only screen and (max-width: $breakpoint-medium) {
                left: auto;
                right: 0;
                top: 2rem;
                width: 8rem;
                height: 8rem;
            }
        }
    }

    &.archive-tag {}

    .archive-taglist {
        display: block;
        margin: 2rem 0 1rem;
        max-width: none;
        float: none;
    }
}

.has-cover {
    .archive {
        &.archive-box {
            border: none;
        }

        .archive-info span {
            color: white;
        }

        .archive-title {
            color: white;
        }

        .archive-description {
            color: rgba(255,255,255,0.8);
        }

        a {
            color: rgba(255,255,255,0.8);

            &:focus,
            &:hover {
                color: white;
            }
        }
    }
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    padding-right: 0;
}

.inner {
    max-width: $inner;
    margin: 0 auto;
    padding: 0 8rem;
    @media only screen and (max-width: $breakpoint-medium) {
        padding: 0 4rem;
    }
}


.nav-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 400;
    transition: all ease-out 0.3s;
    @media only screen and (max-width: $breakpoint-medium) {
        transform: translate3d(0,-100%,0);
    }
}

.menu-active .nav-header {
    transform: translate3d(0,0,0);
}

.nav-close {
    position: fixed;
    z-index: 350;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: var(--color-background-overlay);
}

.menu-active .nav-close {
    @media only screen and (max-width: $breakpoint-medium) {
        display: block;
    }
}

.nav-header .nav-wrapper-control {
    position: absolute;
    z-index: 500;
    left: 0;
    top: 100%;
    width: 100%;
    cursor: pointer;
    display: none;
    color: var(--color-content-secondary);
    border-top: 1px solid transparent;
    box-sizing: border-box;
    transition: all linear 0.1s;

    @media only screen and (max-width: $breakpoint-medium) {
        display: block;
    }

    .inner {
        display: flex;
        justify-content: space-between;
    }

    a {
        position: relative;
        display: block;
        width: 100%;
        padding: 2rem 0;
        font-size: 2em;
        line-height: 2rem;
        color: inherit;
        transition: all ease-out 0.1s;

        i {
            display: inline-block;
            width: 4rem;
        }

        &.nav-search {
            width: auto;
            text-align: right;
        }

        &:focus,
        &:hover {
            color: var(--color-content-main);
        }
    }
}

.cover-active .nav-header .nav-wrapper-control {
    color: white;
}

.menu-active .nav-header .nav-wrapper-control {
    background: #222426;
    color: var(--color-content-secondary);
    border-color: #3B3D40;
    @supports (-webkit-backdrop-filter: blur(2rem)) {
        background: rgba(34,36,38,0.9);
        -webkit-backdrop-filter: blur(2rem);
    }

    a {
        &:focus,
        &:hover {
            color: var(--color-content-main-dark);
        }
    }
}

.nav-header .nav-wrapper {
    display: flex;
    max-height: calc(100vh - 6rem);
    padding: 2rem 4rem;
    @media only screen and (max-width: $breakpoint-medium) {
        background: #222426;
        flex-direction: column;
        overflow-y: auto;
        @supports (-webkit-backdrop-filter: blur(2rem)) {
            background: rgba(34,36,38,0.9);
            -webkit-backdrop-filter: blur(2rem);
        }
    }
}

.nav-header .logo {
    margin-inline-end: 3rem;
    @media only screen and (max-width: $breakpoint-medium) {
        display: none;
    }

    .logo-placeholder {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: var(--color-background-contrast);
    }

    a {
        display: block;
        height: 4rem;
        padding: 0;

        img {
            display: block;
            width: auto;
            height: 4rem;
        }
    }
}

.nav-header ul {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    @media only screen and (max-width: $breakpoint-medium) {
        flex-direction: column;
        flex-shrink: 0;
        padding: 2rem 0;
    }

    &.nav-meta {
        width: auto;
        justify-content: flex-end;

        @media only screen and (max-width: $breakpoint-medium) {
            width: 100%;
            flex-direction: row !important;
            padding: 0;
        }
    }
}

.nav-header li {
    position: relative;
    margin-inline-end: 3rem;

    &.active {
        a:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 3px;
            left: 0;
            top: 0;
            padding: 0 1rem;
            margin-left: -1rem;
            margin-top: -2rem;
            background: var(--color-primary);
            @media only screen and (max-width: $breakpoint-medium) {
                left: 0;
                top: 50%;
                width: 1.5rem;
                height: 2px;
                margin-left: 6px;
                margin-top: -1px;
                border-radius: 2px;
                padding: 0;
            }
        }

        a {
            color: var(--color-content-main);
            font-weight: 500;

            @media only screen and (max-width: $breakpoint-medium) {
                color: white;
            }
        }
    }


    &.nav-subscribe,
    &.nac-account {

        a {
            display: block;
            border-radius: 2rem;
            margin: 0.125rem 0;
            padding: 0.75rem 1.5rem;
            border: 1px solid var(--color-background-contrast);
            background: transparent;
            white-space: nowrap;
            font-size: 1.5em;
            line-height: 2rem;
            color: var(--color-content-secondary);
            font-weight: 500;
            text-align: center;

            &:focus,
            &:hover {
                color: var(--color-content-main);
                border-color: var(--color-primary);
            }

            @media only screen and (max-width: $breakpoint-medium) {
                border-color: #3B3D40;

                &:focus,
                &:hover {
                    color: #E1E3E6;
                }
            }

            &:before {
                display: none !important;
            }
        }
    }

    a {
        display: block;
        padding: 1rem 0;
        font-size: 1.6em;
        line-height: 2rem;
        color: var(--color-content-secondary);
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        font-weight: 400;
        cursor: pointer;
        transition: color linear 0.1s;

        @media only screen and (max-width: $breakpoint-medium) {
            font-size: 2em;
            padding-left: 4rem;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 1.5rem;
                height: 2px;
                margin-left: 6px;
                margin-top: -1px;
                border-radius: 2px;
                background: #3B3D40;
            }
        }

        &:focus,
        &:hover {
            color: var(--color-content-main);

            @media only screen and (max-width: $breakpoint-medium) {
                color: #C4C7CC;
            }
        }
    }

    &:last-child {
        margin-inline-end: 0;
    }
}

.nav-meta {

    li {
        margin-inline-end: 1rem;
        @media only screen and (max-width: $breakpoint-medium) {
            flex-grow: 1;
        }

        &.nav-lang {
            margin-inline-end: 20px;
            position: relative;

            .lang-selector {
                display:none;
                &.open {
                    display:block;
                }
                position: absolute;
                top: 100%;
                right: 0;
                padding: 10px 24px;
                background: #222426;
                z-index:1;
                a {
                    position: relative;
                    margin-inline-start: 25px;
                    &:before {
                        content: '';
                        position: absolute;
                        right: 100%;
                        top: 50%;
                        width: 1.5rem;
                        height: 2px;
                        margin-inline-start: 6px;
                        margin-top: -1px;
                        border-radius: 2px;
                        background: #3B3D40;
                        margin-inline-end: 10px;
                    }
                    &:hover {
                        color: #C4C7CC;
                    }
                    &.active {
                        color: white;
                        &:before {
                            background: var(--color-primary);
                        }
                    }
                }
            }
            .lang-selector-closer {
                display:none;
                &.open {display:block}
                position:fixed;
                width:100%;
                height:100%;
                top:0;
                left:0;
                z-index:0;
            }


            @media only screen and (max-width: $breakpoint-medium) {
                border-top: 1px solid var(--color-content-secondary);
                padding-top: 2rem;

                .lang-label {
                    display:none;
                }
                .lang-selector {
                    display: block;
                    position: relative;
                    padding: 0;
                    top: 0;
                }
                .lang-selector a {
                    margin-inline-start: 0;
                }
            }

        }

        &.social {
            @media only screen and (max-width: $breakpoint-medium) {
                display: none;
            }
        }

        a {
            font-size: 1.75em;
        }

        span {
            display: none;
        }

        i {
            margin: 0 5px;
        }
    }
}

.nav-meta {

    li.nav-search {
        display: block !important;

        @media only screen and (max-width: $breakpoint-medium) {
            display: none !important;
        }
    }
}
.nav-wrapper-control .nav-search {
    display: block !important;
}

.cover-active {

    .nav-wrapper-control a {
        color: rgba(255,255,255,0.8);

        &:focus,
        &:hover {
            color: white;
        }
    }

    .nav-header li {
        a {
            @media only screen and (min-width: $breakpoint-medium) {
                color: rgba(255,255,255,0.8);
                border-color: rgba(255,255,255,0.8);
            }

            &:focus,
            &:hover {
                @media only screen and (min-width: $breakpoint-medium) {
                    color: white;
                    border-color: white;
                }
            }
        }

        &.nav-subscribe,
        &.nac-account {

            a{
                @media only screen and (min-width: $breakpoint-medium) {
                    color: #222426;
                    background-color: rgba(255,255,255,0.8);
                }

                &:focus,
                &:hover {
                    @media only screen and (min-width: $breakpoint-medium) {
                        background-color: white;
                    }
                }
            }
        }

        &.active a {
            @media only screen and (min-width: $breakpoint-medium) {
                color: white;
            }
        }
    }
}