.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    padding-right: 0;
}
.inner {
    max-width: $inner;
    margin: 0 auto;
    padding: 0 8rem;
    @media only screen and (max-width: $breakpoint-medium) {
        padding: 0 4rem;
    }
}

.blog-header {
    position: relative;
    padding-top: calc(16rem + 4vw);

    &.has-cover {
        padding-top: calc(24rem + 8vw);
        color: white;
        background: black;
        overflow: hidden;
        text-shadow: 0 1px 2px rgba(0,0,0,0.1);

        &:after {
            display: none;
        }
    }

    .blog-box {
        position: relative;
        z-index: 10;
        padding-bottom: calc(4rem + 2vw);
        text-align: center;
        border-bottom: 1px solid var(--color-background-contrast);
    }

    &.has-cover .blog-box {
        border: none;
        padding-bottom: calc(8rem + 4vw);
    }
}


.blog-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    background: no-repeat scroll center center / cover #000;
    animation: 0.5s ease-in forwards fadein;
    display: flex;
    align-items: center;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 66.666%;
        left: 0;
        bottom: 0;
        z-index: 8;
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.333) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.333) 100%);
    }

    img {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        z-index: 6;
        object-fit: cover;
    }
}


.blog-name {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 6em;
    line-height: 1em;
    text-decoration: none;
    color: var(--color-content-lead);
}

.has-cover .blog-name {
    color: white;
}

.blog-description {
    font-family: var(--font-secondary);
    display: block;
    margin-top: 1rem;
    padding: 0;
    font-size: 3em;
    line-height: 1.33334em;
    color: var(--color-content-secondary);
}

.has-cover .blog-description {
    color: white;
}