# generate workflow

name: Publish

on:
  workflow_dispatch:

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Send HTTP Request
        run: |
          curl -X POST \
            -H "X-Key: ${{ secrets.PUBLISH_KEY }}" \
            https://blogs.hyvor.com/special/themes/ping